.footer-container{
    padding: 0 10%;
    height: 50vh;
    background-color: #353535;
}

.footer-containver-div{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.footer-left{
    height: 20vh;
    width: 25%;
    
}

.footer-image{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-image img{
    width: 250px;
    height: auto;
}

.footer-text{
    height: 10vh;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.footer-text p{
    display: flex;
    margin: 8px 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
}

.footer-links{
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-links p{
    height: 8vh;
    font-size: 1.2rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
}

.footer-links a{
    height: 2vh;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;

}

.footer-links a:hover{
    opacity: 0.6;
}

.footer-final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-final p{
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #fff;
}

.footer-final a{
    font-size: 0.8rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.footer-final a:hover{
    opacity: 0.6;
}

@media (max-width: 768px){
    .footer-container{
        padding: 0 10%;
        height: 140vh;
    }
    
    .footer-containver-div{
        width: 100%;
        height: 115vh;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .footer-left{
        height: 25vh;
        width: 100%;
    }
    
    .footer-image{
        width: 100%;
        height: 15vh;
        align-items: center;
        justify-content: center;
    }
    
    .footer-image img{
        width: 200px;
        height: auto;
    }
    
    .footer-text{
        height: 10vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: none;
    }
    
    .footer-text p{
        margin: 8px 0;
        font-size: 1rem;
    }
    
    .footer-links{
        width: 100%;
        height: 40vh;
        gap: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .footer-links p{
        height: 5vh;
        font-size: 1rem;
        width: 50%;
    }
    
    .footer-links a{
        height: 2vh;
        font-size: 1rem;
        width: 100%;
    }
    
    .footer-final{
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-final p{
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
        height: 5vh;
        text-align: center;
        margin-top: 35px;
    }
    
    .footer-final a{
        font-size: 0.8rem;
    }

}