.form-container{
    padding: 0 10%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.form-container-div{
    width: 100%;
    display: flex;
    height: 65vh;
}

.form-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-text{
    height: 15vh;
    width: 100%;
}

.form-text h2{
    font-size: 3rem;
    display: flex;
    align-items: center;
    height: 7vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.form-text p{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    height: 8vh;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.form-contact-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
}

.form-contact-left{
    height: 5vh;
    width: 10%;
    display: flex;
    align-items: center;
}

.form-contact-left i{
    font-size: 30px;
    height: 5vh;
    display: flex;
    align-items: center;
}

.form-contact-right{
    width: 90%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 5vh;
}

.form-contact-right h6{
    font-size: 1.4rem;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.form-contact-right p{
    font-size: 1rem;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    opacity: 0.8;
}

.div-linha{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-linha{
    border: 0.5px solid #000;
    width: 80%;
    float: left;
    opacity: 0.2;
}

.form-redes{
    height: 10vh;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.form-redes i{
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #000;
}

.form-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-right-text{
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.form-right-text h2{
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.form-inputs{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-input-nome,
.form-input-email,
.form-input-tel{
    width: 85%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 20px;
}

.form-input-nome::placeholder,
.form-input-email::placeholder,
.form-input-tel::placeholder{
    font-size: 1rem;
    opacity: 0.6;
}

.form-input-nome:focus,
.form-input-email:focus,
.form-input-tel:focus{
    background-color: #f3f3f3;
    color: #000;
    font-size: 1rem;
    border: none;
}

.form-right-direitos{
    height: 8vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-right-direitos p{
    font-size: 0.8rem;
    opacity: 0.9;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.form-submit{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-submit button{
    padding: 15px;
    width: 40%;
    background-color: transparent;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.form-submit button:hover{
    background-color: #000;
    color: #fff;
}

.form-submit button.correct::after {
    background-image: url('../imagens/avatar.png'); /* Substitua pelo caminho do ícone de check */
}

.form-submit button.incorrect::after {
    background-image: url('x-icon.png'); /* Substitua pelo caminho do ícone de X */
}



@media (max-width: 576px){
    .form-container{
        padding: 0 10%;
        height: 80vh;
        width: 100%;
    }
    
    .form-container-div{
        width: 100%;
        height: 70vh;
    }
    
    .form-left{
        display: none;
    }
    
    .form-right{
        width: 100%;
        padding: 15px;
        justify-content: space-evenly;
    }
    
    .form-right-text{
        height: 10vh;
        width: 100%;
    }
    
    .form-right-text h2{
        font-size: 1.4rem;
    }
    
    .form-inputs{
        height: 30vh;
        width: 100%;
        gap: 10px;
        padding: 5px;
    }
    
    .form-input-nome,
    .form-input-email,
    .form-input-tel{
        width: 100%;
        padding: 20px;
    }
    
    .form-input-nome::placeholder,
    .form-input-email::placeholder,
    .form-input-tel::placeholder{
        font-size: 0.8rem;
    }
    
    .form-input-nome:focus,
    .form-input-email:focus,
    .form-input-tel:focus{
        font-size: 0.8rem;
    }
    
    .form-right-direitos{
        height: 8vh;
        width: 100%;
    }
    
    .form-right-direitos p{
        font-size: 0.7rem;
        width: 100%;
    }
    
    .form-submit{
        height: 7vh;
        width: 100%;
        padding: 5px;
    }
    
    .form-submit button{
        padding: 15px;
        width: 100%;
    }
    
}

@media (min-width: 576px) and (max-width: 769px){
    .form-container{
        padding: 0 10%;
        height: 80vh;
        width: 100%;
    }
    
    .form-container-div{
        width: 100%;
        height: 70vh;
    }
    
    .form-left{
        display: none;
    }
    
    .form-right{
        width: 100%;
        padding: 15px;
        justify-content: space-evenly;
    }
    
    .form-right-text{
        height: 10vh;
        width: 100%;
    }
    
    .form-right-text h2{
        font-size: 1.8rem;
    }
    
    .form-inputs{
        height: 30vh;
        width: 100%;
        gap: 10px;
        padding: 5px;
    }
    
    .form-input-nome,
    .form-input-email,
    .form-input-tel{
        width: 100%;
        padding: 20px;
    }
    
    .form-input-nome::placeholder,
    .form-input-email::placeholder,
    .form-input-tel::placeholder{
        font-size: 1rem;
    }
    
    .form-input-nome:focus,
    .form-input-email:focus,
    .form-input-tel:focus{
        font-size: 1rem;
    }
    
    .form-right-direitos{
        height: 8vh;
        width: 100%;
    }
    
    .form-right-direitos p{
        font-size: 1rem;
        width: 100%;
    }
    
    .form-submit{
        height: 7vh;
        width: 100%;
        padding: 5px;
    }
    
    .form-submit button{
        padding: 15px;
        width: 100%;
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .form-container{
        padding: 0 10%;
        height: 60vh;
        width: 100%;
    }
    
    .form-container-div{
        width: 100%;
        height: 50vh;
    }
    
    .form-left{
        display: none;
    }
    
    .form-right{
        width: 100%;
        padding: 15px;
        justify-content: space-evenly;
    }
    
    .form-right-text{
        height: 10vh;
        width: 100%;
    }
    
    .form-right-text h2{
        font-size: 2rem;
    }
    
    .form-inputs{
        height: 30vh;
        width: 100%;
        gap: 10px;
        padding: 5px;
    }
    
    .form-input-nome,
    .form-input-email,
    .form-input-tel{
        width: 100%;
        padding: 20px;
    }
    
    .form-input-nome::placeholder,
    .form-input-email::placeholder,
    .form-input-tel::placeholder{
        font-size: 1.2rem;
    }
    
    .form-input-nome:focus,
    .form-input-email:focus,
    .form-input-tel:focus{
        font-size: 1.2rem;
    }
    
    .form-right-direitos{
        height: 8vh;
        width: 100%;
    }
    
    .form-right-direitos p{
        font-size: 1rem;
        width: 100%;
    }
    
    .form-submit{
        height: 7vh;
        width: 100%;
        padding: 5px;
    }
    
    .form-submit button{
        padding: 15px;
        width: 100%;
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .form-container{
        padding: 0 10%;
        height: 80vh;
        width: 100%;
    }
    
    .form-container-div{
        width: 100%;
        height: 70vh;
    }
    
    
    .form-right{
        width: 50%;
        padding: 15px;
        justify-content: space-evenly;
    }
    
    .form-right-text{
        height: 10vh;
        width: 100%;
    }
    
    .form-right-text h2{
        font-size: 1.8rem;
    }
    
    .form-inputs{
        height: 25vh;
        width: 100%;
        gap: 10px;
        padding: 5px;
    }
    
    .form-input-nome,
    .form-input-email,
    .form-input-tel{
        width: 100%;
        padding: 15px;
    }
    
    .form-input-nome::placeholder,
    .form-input-email::placeholder,
    .form-input-tel::placeholder{
        font-size: 0.8rem;
    }
    
    .form-input-nome:focus,
    .form-input-email:focus,
    .form-input-tel:focus{
        font-size: 0.8rem;
    }
    
    .form-right-direitos{
        height: 8vh;
        width: 100%;
    }
    
    .form-right-direitos p{
        font-size: 0.7rem;
        width: 100%;
    }
    
    .form-submit{
        height: 7vh;
        width: 100%;
        padding: 5px;
    }
    
    .form-submit button{
        padding: 15px;
        width: 100%;
    }

    .form-left{
        width: 50%;
    }
    
    .form-text{
        height: 15vh;
        width: 100%;
    }
    
    .form-text h2{
        font-size: 1.8rem;
        height: 7vh;
    }
    
    .form-text p{
        font-size: 0.8rem;
        height: 8vh;
        width: 90%;
    }
    
    .form-contact-div{
        width: 100%;
        margin: 15px 0;
    }
    
    .form-contact-left{
        height: 5vh;
        width: 10%;
    }
    
    .form-contact-left i{
        font-size: 20px;
        height: 5vh;
    }
    
    .form-contact-right{
        width: 90%;
        height: 5vh;
    }
    
    .form-contact-right h6{
        font-size: 0.9rem;
        width: 80%;
    }
    
    .form-contact-right p{
        font-size: 0.8rem;
        width: 90%;
    }
    
    .div-linha{
        width: 100%;
    }
    
    .form-linha{
        width: 90%;
        opacity: 0.2;
    }
    
    .form-redes{
        height: 10vh;
        width: 100%;
        gap: 20px;
    }
    
    .form-redes i{
        font-size: 25px;
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1800px){
    .form-container{
        padding: 0 10%;
        height: 80vh;
        width: 100%;
    }
    
    .form-container-div{
        width: 100%;
        height: 70vh;
    }
    
    
    .form-right{
        width: 50%;
        padding: 15px;
        justify-content: space-evenly;
    }
    
    .form-right-text{
        height: 10vh;
        width: 100%;
    }
    
    .form-right-text h2{
        font-size: 1.8rem;
    }
    
    .form-inputs{
        height: 25vh;
        width: 100%;
        gap: 10px;
        padding: 5px;
    }
    
    .form-input-nome,
    .form-input-email,
    .form-input-tel{
        width: 100%;
        padding: 15px;
    }
    
    .form-input-nome::placeholder,
    .form-input-email::placeholder,
    .form-input-tel::placeholder{
        font-size: 0.8rem;
    }
    
    .form-input-nome:focus,
    .form-input-email:focus,
    .form-input-tel:focus{
        font-size: 0.8rem;
    }
    
    .form-right-direitos{
        height: 8vh;
        width: 100%;
    }
    
    .form-right-direitos p{
        font-size: 0.7rem;
        width: 100%;
    }
    
    .form-submit{
        height: 7vh;
        width: 100%;
        padding: 5px;
    }
    
    .form-submit button{
        padding: 15px;
        width: 100%;
    }

    .form-left{
        width: 50%;
    }
    
    .form-text{
        height: 15vh;
        width: 100%;
    }
    
    .form-text h2{
        font-size: 1.8rem;
        height: 7vh;
    }
    
    .form-text p{
        font-size: 0.9rem;
        height: 8vh;
        width: 90%;
    }
    
    .form-contact-div{
        width: 100%;
        margin: 15px 0;
    }
    
    .form-contact-left{
        height: 5vh;
        width: 10%;
    }
    
    .form-contact-left i{
        font-size: 20px;
        height: 5vh;
    }
    
    .form-contact-right{
        width: 90%;
        height: 5vh;
    }
    
    .form-contact-right h6{
        font-size: 1rem;
        width: 80%;
    }
    
    .form-contact-right p{
        font-size: 0.8rem;
        width: 90%;
    }
    
    .div-linha{
        width: 100%;
    }
    
    .form-linha{
        width: 90%;
        opacity: 0.2;
    }
    
    .form-redes{
        height: 10vh;
        width: 100%;
        gap: 20px;
    }
    
    .form-redes i{
        font-size: 35px;
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1801px){
    .form-container{
        padding: 0 10%;
        height: 80vh;
        width: 100%;
    }
    
    .form-container-div{
        width: 100%;
        height: 70vh;
    }
    
    
    .form-right{
        width: 50%;
        padding: 15px;
        justify-content: space-evenly;
    }
    
    .form-right-text{
        height: 10vh;
        width: 100%;
    }
    
    .form-right-text h2{
        font-size: 2.4rem;
    }
    
    .form-inputs{
        height: 25vh;
        width: 100%;
        gap: 10px;
        padding: 5px;
    }
    
    .form-input-nome,
    .form-input-email,
    .form-input-tel{
        width: 100%;
        padding: 15px;
    }
    
    .form-input-nome::placeholder,
    .form-input-email::placeholder,
    .form-input-tel::placeholder{
        font-size: 1.1rem;
    }
    
    .form-input-nome:focus,
    .form-input-email:focus,
    .form-input-tel:focus{
        font-size: 1.1rem;
    }
    
    .form-right-direitos{
        height: 8vh;
        width: 100%;
    }
    
    .form-right-direitos p{
        font-size: 0.9rem;
        width: 100%;
    }
    
    .form-submit{
        height: 7vh;
        width: 100%;
        padding: 5px;
    }
    
    .form-submit button{
        padding: 15px;
        width: 100%;
    }

    .form-left{
        width: 50%;
    }
    
    .form-text{
        height: 15vh;
        width: 100%;
    }
    
    .form-text h2{
        font-size: 2.4rem;
        height: 7vh;
    }
    
    .form-text p{
        font-size: 1.5rem;
        height: 8vh;
        width: 90%;
    }
    
    .form-contact-div{
        width: 100%;
        margin: 15px 0;
    }
    
    .form-contact-left{
        height: 5vh;
        width: 10%;
    }
    
    .form-contact-left i{
        font-size: 20px;
        height: 5vh;
    }
    
    .form-contact-right{
        width: 90%;
        height: 5vh;
    }
    
    .form-contact-right h6{
        font-size: 1.1rem;
        width: 80%;
    }
    
    .form-contact-right p{
        font-size: 1rem;
        width: 90%;
    }
    
    .div-linha{
        width: 100%;
    }
    
    .form-linha{
        width: 90%;
        opacity: 0.2;
    }
    
    .form-redes{
        height: 10vh;
        width: 100%;
        gap: 20px;
    }
    
    .form-redes i{
        font-size: 35px;
        width: 30px;
        height: 30px;
    }
}