.form-container{
    border: 1px solid red;
    padding: 0 10%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-container-div{
    border: 1px solid red;
    width: 100%;
    display: flex;
    height: 65vh;
}

.form-left{
    border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-text{
    height: 15vh;
    border: 1px solid red;
    width: 100%;
}

.form-text h2{
    font-size: 3rem;
    display: flex;
    align-items: center;
    height: 7vh;
    border: 1px solid red;
}

.form-text p{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 8vh;
    border: 1px solid red;
}

.form-contact-div{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
}

.form-contact-left{
    border: 1px solid red;
    height: 5vh;
    width: 10%;
    display: flex;
    align-items: center;
}

.form-contact-left i{
    font-size: 35px;
    border: 1px solid red;
    height: 5vh;
    display: flex;
    align-items: center;
}

.form-contact-right{
    border: 1px solid red;
    width: 90%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 5vh;
}

.form-contact-right h6{
    font-size: 1.4rem;
    border: 1px solid red;
    width: 80%;
}

.form-contact-right p{
    font-size: 1rem;
    border: 1px solid red;
    width: 80%;
}

.div-linha{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-linha{
    border: 2px solid red;
    width: 80%;
    float: left;
}

.form-redes{
    border: 1px solid red;
    height: 10vh;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.form-redes i{
    font-size: 40px;
    border: 1px solid red;
}

.form-right{
    border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.form-right-text{
    height: 10vh;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.form-right-text h2{
    font-size: 3rem;
}

.form-inputs{
    height: 30vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-input-nome,
.form-input-email,
.form-input-tel{
    border: 1px solid red;
    width: 80%;
    padding: 15px;
}

.form-right-direitos{
    border: 1px solid red;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-right-direitos p{
    font-size: 0.8rem;
    opacity: 0.8;
    border: 1px solid red;
    width: 100%;
    text-align: center;
}

.form-submit{
    border: 1px solid red;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-submit button{
    padding: 15px 80px;
    background-color: transparent;
    border: 1px solid red;
    color: #000;
}