.header-div{
    padding: 0 10%;
}

.header-texts{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.header-texts h1{
    font-size: 4rem;
    width: 70%;
    height: 20vh;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 70px;
    color: #353535;

}

.header-texts p{
    font-size: 1.2rem;
    width: 60%!important;
    display: flex;
    height: 5vh;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400!important;
}

.header-texts-btn{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-texts-btn button{
    padding: 5px 50px;
    border: 1px solid #353535;
    border-radius: 5px;
    background-color: transparent;
    color: #353535;
    transition: all .3s ;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    animation: animate_pulse 2s infinite linear;
}

.header-texts-btn button:hover{
    background-color: #353535;
    border: none;
    color: #fff;
    transform: scale(1.02);
}

@keyframes animate_pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.01);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
}

@keyframes animate_pulse2{
    0%{
    }
    50%{
        background-color: #078f03;
    }
}


@media (max-width: 576px){
    .header{
        background-position: left!important;
        background-size: cover;
        height: 100dvh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 98%)!important;
    }

    .header-div{
        padding: 0 0%;
    }
    

    .header-texts{
        height: 80dvh!important;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0%;
        width: 100%;
    }
    
    .header-texts h1{
        font-size: 1.8rem!important;
        height: 20vh;
        line-height: 30px;
        text-align: center;
        color: #fff;
        font-weight: 800;
        width: 100%;
    }
    
    .header-texts p{
        font-size: 0.9rem!important;
        width: 100%!important;
        text-align: left;
        font-weight: 500!important;
        height: 35vh;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
    }
    
    .header-texts-btn{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-texts-btn button{
        padding: 10px 30px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        color: #353535;
        width: 100%;
    }

    .header-texts-btn button:hover{
        background-color: #fff;
        color: #353535;
        border: none;
        transform: scale(1);
        box-shadow: none;
    }
}

@media (min-width: 576px) and (max-width: 769px){
    .header{
        background-position: top;
        background-image: url('../imagens/header-background-mobile.webp')!important;
        background-size: cover;
        height: 100dvh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 98%)!important;
    }

    .header-div{
        padding: 0 0%;
    }
    

    .header-texts{
        height: 80dvh;
        width: 100%!important;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0%;
    }
    
    .header-texts h1{
        font-size: 2.8rem;
        height: 20vh;
        line-height: 50px;
        text-align: left;
        font-weight: 800;
        width: 100%;
    }
    
    .header-texts p{
        font-size: 1.4rem;
        width: 100%!important;
        text-align: left;
        font-weight: 400;
        height: 30vh;
    }
    
    .header-texts-btn{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-texts-btn button{
        padding: 15px 30px;
        font-size: 1.1rem;
        background-color: #353535;
        color: #fff;
        width: 100%;
    }

    .header-texts-btn button:hover{
        background-color: #fff;
        color: #353535;
        border: none;
        transform: scale(1);
        box-shadow: none;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .header{
        background-position: top;
        background-image: url('../imagens/header-background-mobile.webp')!important;
        background-size: cover;
        height: 100dvh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 98%)!important;
    }

    .header-div{
        padding: 0 0%;
    }
    

    .header-texts{
        height: 80dvh;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0%;
    }
    
    .header-texts h1{
        font-size: 3rem;
        height: 20vh;
        line-height: 55px;
        text-align: left;
        font-weight: 800;
        width: 100%;
    }
    
    .header-texts p{
        font-size: 1.6rem;
        width: 100%!important;
        text-align: left;
        font-weight: 400;
        height: 30vh;
    }
    
    .header-texts-btn{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-texts-btn button{
        padding: 20px 30px;
        font-size: 1.2rem;
        background-color: #353535;
        color: #fff;
        width: 100%;
    }

    .header-texts-btn button:hover{
        background-color: #fff;
        color: #353535;
        border: none;
        transform: scale(1);
        box-shadow: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .header{
        background-position: center;
        background-size: cover;
        height: 100dvh;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .header-div{
        padding: 0 0%;
    }
    

    .header-texts{
        height: 70dvh;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        padding: 0%;
    }
    
    .header-texts h1{
        font-size: 2.2rem;
        height: 5vh;
        line-height: 35px;
        text-align: left;
        font-weight: 800;
    }
    
    .header-texts p{
        font-size: 0.9rem;
        width: 85%;
        text-align: left;
        font-weight: 300;
        height: 25vh;
    }
    
    .header-texts-btn{
        height: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .header-texts-btn button{
        padding: 10px 30px;
        font-size: 0.8rem;
        width: 30%;
    }
}

@media (min-width: 1200px) and (max-width: 1800px){
    .header{
        background-position: center center;
        background-size: cover;
        height: 100dvh;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .header-div{
        padding: 0 0%;
    }
    

    .header-texts{
        height: 70dvh;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        padding: 0%;
    }
    
    .header-texts h1{
        font-size: 2.4rem;
        height: 5vh;
        line-height: 45px;
        text-align: left;
        font-weight: 800;
    }
    
    .header-texts p{
        font-size: 0.9rem;
        width: 85%;
        text-align: left;
        font-weight: 300;
        height: 20vh;
    }
    
    .header-texts-btn{
        height: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .header-texts-btn button{
        padding: 10px 30px;
        font-size: 0.8rem;
        width: 25%;
    }
}

@media (min-width: 1801px){
    .header{
        background-position: top left;
        height: 100dvh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-div{
        padding: 0 0%;
    }
    

    .header-texts{
        height: 70dvh;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        padding: 0%;
    }
    
    .header-texts h1{
        font-size: 3.5rem;
        height: 5vh;
        line-height: 55px;
        text-align: left;
        font-weight: 800;
    }
    
    .header-texts p{
        font-size: 1.4rem;
        width: 85%;
        text-align: left;
        font-weight: 300;
        height: 20vh;
    }
    
    .header-texts-btn{
        height: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .header-texts-btn button{
        padding: 20px 30px;
        font-size: 1.1rem;
        width: 25%;
    }
}