.infos-container{
    padding: 0 10%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #353535;
}

.info-div-texts{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-div-texts h2{
    font-size: 3rem;
    display: flex;
    align-items: center;
    height: 5vh;
    color: #fff;
}

.info-div-texts-p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 5vh;
    color: #fff;
}

.info-estatisticas{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.estatisticas{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.estatisticas h6{
    font-size: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.estatisticas p{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

/* CARDS */
