.local-container {
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0%;
  }
  
  #map {
    height: 70vh;
    width: 100%;
    margin-top: 5vh;
  }
  