.maquina-container{
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 10%;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}


.maquina-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cfcfcf; /* Aqui você pode definir a cor ou imagem de fundo desejada */
    clip-path: polygon(0 0, 55% 0, 55% 100%, 0% 100%);
    z-index: -1; /* Para garantir que o fundo fique atrás do conteúdo */
}

.maquina-div-container {
    width: 100%;
    height: 55vh;
    display: flex;
    gap: 10px;

}

.maquina-video{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.maquina-container-right{
    width: 40%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 55vh;
}

.maquina-right-texts{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.maquina-right-texts h2{
    height: 5vh;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.maquina-right-texts h4{
    height: 5vh;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.maquina-right-texts p{
    height: 20vh;
    padding-top: 10px;
    font-size: 1.1rem;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


.maquina-right-btn{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}

.maquina-right-btn p{
    width: 90%;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.maquina-right-btn a{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
    text-decoration: none;
}

.maquina-right-btn i{
    font-size: 30px;
    transform: rotate(0deg);
    transition: all .3s;
    color: #cfcfcf;
}

.maquina-right-btn i:hover{
    transform: rotate(90deg);
    color: #353535;
}



@media (max-width: 576px){
    .maquina-container{
        height: 115vh;
        padding: 0 10%;
        width: 100%;
    }

    .maquina-container::before {
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    }
    
    
    .maquina-div-container {
        width: 100%;
        height: 105vh;
        gap: 5px;
        flex-wrap: wrap;
    }
    
    .maquina-video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    
    .maquina-container-right{
        width: 100%;
        padding: 0px;
        height: 45vh;
    }
    
    .maquina-right-texts{
        height: 45vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-texts h2{
        height: 10vh;
        font-size: 1.2rem;
        line-height: 20px;
        width: 100%;
    }
    
    .maquina-right-texts h4{
        height: 5vh;
        font-size: 0.9rem;
    }
    
    .maquina-right-texts p{
        height: 25vh;
        padding-top: 10px;
        font-size: 0.7rem; 
    }
    
    
    .maquina-right-btn{
        height: 10vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-btn p{
        width: 90%;
        font-size: 0.9rem;
    }
    
    .maquina-right-btn a{
        width: 10%;
        font-size: 0;
        height: 5vh;
    }
    
    .maquina-right-btn i{
        font-size: 25px;
    }
}

@media (min-width: 576px) and (max-width: 769px){
    .maquina-container{
        height: 115vh;
        padding: 0 10%;
        width: 100%;
    }

    .maquina-container::before {
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    }
    
    
    .maquina-div-container {
        width: 100%;
        height: 105vh;
        gap: 5px;
        flex-wrap: wrap;
    }
    
    .maquina-video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    
    .maquina-container-right{
        width: 100%;
        padding: 0px;
        height: 45vh;
    }
    
    .maquina-right-texts{
        height: 45vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-texts h2{
        height: 10vh;
        font-size: 1.6rem;
        line-height: 20px;
        width: 100%;
    }
    
    .maquina-right-texts h4{
        height: 5vh;
        font-size: 1.2rem;
    }
    
    .maquina-right-texts p{
        height: 25vh;
        padding-top: 10px;
        font-size: 1rem; 
    }
    
    
    .maquina-right-btn{
        height: 10vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-btn p{
        width: 90%;
        font-size: 1.2rem;
    }
    
    .maquina-right-btn a{
        width: 10%;
        font-size: 0;
        height: 5vh;
    }
    
    .maquina-right-btn i{
        font-size: 35px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .maquina-container{
        height: 115vh;
        padding: 0 10%;
        width: 100%;
    }

    .maquina-container::before {
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    }
    
    
    .maquina-div-container {
        width: 100%;
        height: 95vh;
        gap: 5px;
        flex-wrap: wrap;
    }
    
    .maquina-video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    
    .maquina-container-right{
        width: 100%;
        padding: 0px;
        height: 40vh;
    }
    
    .maquina-right-texts{
        height: 40vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-texts h2{
        height: 10vh;
        font-size: 1.8rem;
        line-height: 20px;
        width: 100%;
    }
    
    .maquina-right-texts h4{
        height: 5vh;
        font-size: 1.4rem;
    }
    
    .maquina-right-texts p{
        height: 25vh;
        padding-top: 10px;
        font-size: 1.2rem; 
    }
    
    
    .maquina-right-btn{
        height: 10vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-btn p{
        width: 90%;
        font-size: 1.4rem;
    }
    
    .maquina-right-btn a{
        width: 10%;
        font-size: 0;
        height: 5vh;
    }
    
    .maquina-right-btn i{
        font-size: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .maquina-container{
        height: 70vh;
        padding: 0 10%;
        width: 100%;
    }

    .maquina-container::before {
        clip-path: polygon(0 0, 40% 0, 40% 100%, 0 100%);
    }
    
    
    .maquina-div-container {
        width: 100%;
        height: 60vh;
        gap: 5px;
        display: flex;
        align-items: center;
    }
    
    .maquina-video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    
    .maquina-container-right{
        width: 100%;
        padding: 10px;
        height: 60vh;
    }
    
    .maquina-right-texts{
        height: 50vh;
        width: 100%;
        padding-left: 30px;
    }
    
    .maquina-right-texts h2{
        height: 10vh;
        font-size: 1.3rem;
        line-height: 20px;
        width: 100%;
    }
    
    .maquina-right-texts h4{
        height: 5vh;
        font-size: 1rem;
    }
    
    .maquina-right-texts p{
        height: 35vh;
        padding-top: 10px;
        font-size: 0.9rem; 
    }
    
    
    .maquina-right-btn{
        height: 5vh;
        width: 100%;
        padding-left: 30px;
    }
    
    .maquina-right-btn p{
        width: 90%;
        font-size: 0.8rem;
    }
    
    .maquina-right-btn a{
        width: 10%;
        font-size: 0;
        height: 5vh;
    }
    
    .maquina-right-btn i{
        font-size: 25px;
    }
}

@media (min-width: 1200px) and (max-width: 1800px){
    .maquina-container{
        height: 70vh;
        padding: 0 10%;
        width: 100%;
    }

    .maquina-container::before {
        clip-path: polygon(0 0, 40% 0, 40% 100%, 0 100%);
    }
    
    
    .maquina-div-container {
        width: 100%;
        height: 60vh;
        gap: 5px;
        display: flex;
        align-items: center;
    }
    
    .maquina-video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    
    .maquina-container-right{
        width: 100%;
        padding: 10px;
        height: 60vh;
    }
    
    .maquina-right-texts{
        height: 50vh;
        width: 100%;
        padding-left: 30px;
    }
    
    .maquina-right-texts h2{
        height: 10vh;
        font-size: 1.5rem;
        line-height: 20px;
        width: 100%;
    }
    
    .maquina-right-texts h4{
        height: 5vh;
        font-size: 1.2rem;
    }
    
    .maquina-right-texts p{
        height: 35vh;
        padding-top: 10px;
        font-size: 0.95rem; 
    }
    
    
    .maquina-right-btn{
        height: 5vh;
        width: 100%;
        padding-left: 30px;
    }
    
    .maquina-right-btn p{
        width: 90%;
        font-size: 1rem;
    }
    
    .maquina-right-btn a{
        width: 10%;
        font-size: 0;
        height: 5vh;
    }
    
    .maquina-right-btn i{
        font-size: 30px;
    }
}

@media (min-width: 1801px){
    .maquina-container{
        height: 70vh;
        padding: 0 10%;
        width: 100%;
    }

    .maquina-container::before {
        clip-path: polygon(0 0, 40% 0, 40% 100%, 0 100%);
    }
    
    
    .maquina-div-container {
        width: 100%;
        height: 60vh;
        gap: 5px;
        display: flex;
        align-items: center;
    }
    
    .maquina-video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    
    .maquina-container-right{
        width: 100%;
        padding: 10px;
        height: 60vh;
    }
    
    .maquina-right-texts{
        height: 50vh;
        width: 100%;
        padding-left: 30px;
    }
    
    .maquina-right-texts h2{
        height: 10vh;
        font-size: 2rem;
        line-height: 20px;
        width: 100%;
    }
    
    .maquina-right-texts h4{
        height: 5vh;
        font-size: 1.8rem;
    }
    
    .maquina-right-texts p{
        height: 35vh;
        padding-top: 10px;
        font-size: 1.25rem; 
    }
    
    
    .maquina-right-btn{
        height: 5vh;
        width: 100%;
        padding-left: 30px;
    }
    
    .maquina-right-btn p{
        width: 90%;
        font-size: 1.4rem;
    }
    
    .maquina-right-btn a{
        width: 10%;
        font-size: 0;
        height: 5vh;
    }
    
    .maquina-right-btn i{
        font-size: 40px;
    }
}