.maquina-container{
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 10%;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}


.maquina-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cfcfcf; /* Aqui você pode definir a cor ou imagem de fundo desejada */
    clip-path: polygon(0 0, 55% 0, 55% 100%, 0% 100%);
    z-index: -1; /* Para garantir que o fundo fique atrás do conteúdo */
}

.maquina-div-container {
    width: 100%;
    height: 55vh;
    display: flex;
    gap: 10px;

}

.maquina-video{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.maquina-container-right{
    width: 40%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 55vh;
}

.maquina-right-texts{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.maquina-right-texts h2{
    height: 5vh;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.maquina-right-texts h4{
    height: 5vh;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.maquina-right-texts p{
    height: 20vh;
    padding-top: 10px;
    font-size: 1.1rem;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


.maquina-right-btn{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}

.maquina-right-btn p{
    width: 90%;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.maquina-right-btn a{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0;
    height: 5vh;
    text-decoration: none;
}

.maquina-right-btn i{
    font-size: 30px;
    transform: rotate(0deg);
    transition: all .3s;
    color: #cfcfcf;
}

.maquina-right-btn i:hover{
    transform: rotate(90deg);
    color: #353535;
}

@media (max-width: 768px){
    .maquina-container{
        height: 110vh;
        padding: 0 10%;
        width: 100%;
    }

    .maquina-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #cfcfcf; /* Aqui você pode definir a cor ou imagem de fundo desejada */
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
        z-index: -1; /* Para garantir que o fundo fique atrás do conteúdo */
    }
    
    
    .maquina-div-container {
        width: 100%;
        height: 100vh;
        gap: 5px;
        flex-wrap: wrap;
    }
    
    .maquina-video{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    
    .maquina-container-right{
        width: 100%;
        padding: 0px;
        height: 40vh;
    }
    
    .maquina-right-texts{
        height: 40vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-texts h2{
        height: 10vh;
        font-size: 1.1rem;
        line-height: 20px;
        width: 100%;
    }
    
    .maquina-right-texts h4{
        height: 5vh;
        font-size: 1rem;
    }
    
    .maquina-right-texts p{
        height: 20vh;
        padding-top: 10px;
        font-size: 0.6rem; 
    }
    
    
    .maquina-right-btn{
        height: 10vh;
        width: 100%;
        padding-left: 0px;
    }
    
    .maquina-right-btn p{
        width: 90%;
        font-size: 0.8rem;
    }
    
    .maquina-right-btn a{
        width: 10%;
        font-size: 0;
        height: 5vh;
    }
    
    .maquina-right-btn i{
        font-size: 25px;
    }
    
}