.produtos-container{
    border: 1px solid red;
    padding: 0 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.produtos-div-container{
    border: 1px solid red;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.produtos-texts{
    border: 1px solid red;
    height: 10vh;
    width: 100%;
}

.produtos-texts h2{
    border: 1px solid red;
    display: flex;
    align-items: center;
    font-size: 3rem;
    height: 5vh;
}

.produtos-texts p{
    border: 1px solid red;
    display: flex;
    align-items: center;
    height: 5vh;
    font-size: 1.2rem;
}

.produtos-btn{
    border: 1px solid red;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.produtos-topics-div-btn{
    border: 1px solid red;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px 20px;
    flex-wrap: wrap;
}

.produtos-topics-div-btn button{
    padding: 20px 60px;
    border: 1px solid red;
    background-color: transparent;
    border-radius: 20px;
}

.produtos-container-cards{
    border: 1px solid red;
    width: 100%;
    height: 55vh;
}

.produtos-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    gap: 20px;
}

.produtos-card{
    border: 1px solid red;
    width: 100%;
    height: 55vh;
    padding: 20px;
}

.produto-card-img{
    width: 100%;
    height: 30vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto-card-text-top{
    border: 1px solid red;
    width: 100%;
}

.produto-card-text-top h6{
    border: 1px solid red;
    font-size: 1.4rem;
}

.produto-card-text-top p{
    border: 1px solid red;
    font-size: 1rem;
}

.produto-card-text-center{
    border: 1px solid red;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 10vh;
    align-items: center;
}

.produto-card-text-center-center{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 100%;
}

.produto-card-text-center-center h6{
    border: 1px solid red;
    font-size: 1rem;
    width: 50%;
}

.produto-card-text-center-center p{
    border: 1px solid red;
    font-size: 1rem;
    width: 50%;
    text-align: right;
}

.produto-card-btns{
    border: 1px solid red;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.produto-card-btn-left{
    border: 1px solid red;
    width: 85%;
    height: 3vh;
}

.produto-card-btn-right{
    border: 1px solid red;
    width: 40px;
    border-radius: 50%;
    height: 40px;
}