/* Container principal dos produtos */
.produtos-container {
    padding: 0 10%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.produtos-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #353535; /* Aqui você pode definir a cor ou imagem de fundo desejada */
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
    z-index: -1; /* Para garantir que o fundo fique atrás do conteúdo */
}

/* Div container dos produtos */
.produtos-div-container {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Textos dos produtos */
.produtos-texts {
    height: 10vh;
    width: 100%;
}

.produtos-texts h2 {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    height: 7vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.produtos-texts p {
    display: flex;
    align-items: center;
    height: 3vh;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 100%;
    justify-content: center;
}

/* Botões dos produtos */
.produtos-btn {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.produtos-topics-div-btn {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px 20px;
    flex-wrap: wrap;
}

.produtos-topics-div-btn button {
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    transition: all .3s;
}

.produtos-topics-div-btn button:hover {
    background-color: #353535;
    color: #fff;
}

.produtos-topics-div-btn button.active{
    background-color: #353535;
    color: #fff;
}

/* Container e layout dos cards de produtos */
.produtos-container-cards {
    width: 100%;
    height: 55vh;
}

.produtos-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.produtos-card {
    width: 100%;
    height: 50vh;
    padding: 20px;
    border: 1px solid #353535;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Imagem do card do produto */
.produto-card-img {
    width: 100%;
    height: 30vh;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 5px;
    transition: all .3s;
}

.produto-card-img:hover {
    background-color: #cfcfcf;
}

.produto-card-img:hover > img {
    transform: rotate(-10deg) scale(1.1);
}

.produto-card-img img {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    object-position: center;
    transition: all .3s;
}

/* Texto do card do produto */
.produto-card-text-top {
    width: 100%;
}

.produto-card-text-top h6 {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.produto-card-text-top p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Texto do card do produto - centro */
.produto-card-text-center {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 5vh;
    align-items: center;
}

.produto-card-text-center-center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    align-items: flex-end;
    padding-bottom: 5px;
}

.produto-card-text-center-center h6 {
    font-size: 1rem;
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.produto-card-text-center-center p {
    font-size: 1rem;
    width: 50%;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Botões do card do produto */
.produto-card-btns {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.produto-card-btn-left {
    width: 85%;
    height: 4vh;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    background-color: #eeeeee;
}

.produto-card-btn-right {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #cfcfcf;
}

.produto-card-btn-left:hover{
    background-color: #cfcfcf;
    color: #353535;
}

.produto-card-btn-right i{
    font-size: 20px;
}

.produto-card-btn-right .fa-heart {
    transition: all 0.3s ease;
}

.produto-card-btn-right .fa-heart.active {
    display: none;
}

.produto-card-btn-right .fa-heart-filled {
    display: inline;
}

.produto-card-btn-right .fa-heart-filled {
    display: none;
}

.produto-card-btn-right .fa-heart-filled.active {
    display: inline;
}

.fa-regular {
    color: #cfcfcf;
}

/* Define a cor dos ícones quando clicados */
.fa-solid {
    color: #a8a7a7; /* Altere para a cor desejada */
}


.produto-action-left {
    position: absolute; /* Posicionamento absoluto */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta a posição verticalmente */
    padding: 10px; /* Espaçamento opcional */
}

.produto-action-left.left {
    left: 5%; /* Alinha à esquerda com margem */
    width: 5%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto-action-left.left button,
.produto-action-left.right button{
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.produto-action-left.left i,
.produto-action-left.right i{
    font-size: 40px;
    color: #cfcfcf;
    transition: all .3s;
}

.produto-action-left.left i:hover,
.produto-action-left.right i:hover{
    color: #353535;
}

.produto-action-left.left i{
    transform: rotate(180deg);
}

.produto-action-left.right {
    right: 5%;
    width: 5%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MODAL */

/* Estilo do modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 10; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Cor de fundo preta */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo preta com opacidade */
    overflow: hidden;
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    width: 80%;
    height: 80vh;
    display: flex;
    border-radius: 5px;
}

/* Estilo do botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px 0px 5px 0px;
}

.close i{
    color: #353535;
    transition: all .3s;
}

.close i:hover,
.close i:focus {
    color: #880000;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(90deg);
}

.modal-img-left{
    width: 40%;
    height: 60vh;

}

.modal-img-left img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

.modal-all-right{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    padding: 30px;
}

.modal-titles-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 35vh;
    gap: 10px;

}

.modal-all-right h2{
    font-size: 3rem;
    height: 5vh;
    align-items: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.modal-all-right p{
    height: 30vh;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.modal-texts-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
}

.modal-texts-right p{
    height: 5vh;
    width: 35%;
    align-items: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.modal-texts-right h6{
    height: 5vh;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}


.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 95vh;
    top: 2.5vh;
    background-color: #fff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    z-index: 15;
    border-radius: 10px 0px 0px 10px;
}

.sidebar-header {
    height: 5vh;
    padding: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #353535;
    border-radius: 10px 0px 0px;
}

.sidebar-header span{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
}

.sidebar-header i{
    color: #fff;
}

.sidebar-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    height: 85vh;
}

.sidebar-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-footer {
    padding: 20px;
    background-color: #353535;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0px 0px 0px 10px;
}

.sidebar-footer button {
    width: 80%;
    padding: 15px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: all .3s;
    cursor: pointer;
    color: #fff;
}

.sidebar-footer button:hover{
    background-color: #ffffff;
    color: #353535;
}

.sidebar-product {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #353535;
    border-radius: 7px;
}

.sidebar-product img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    background-color: #fff;
}

.sidebar-product-details {
    flex: 1;
    height: 7vh;
}

.sidebar-product-details h6{
    font-size: 1.1rem;
    line-height: 20px;
    height: 4vh;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
}

.sidebar-product-details p{
    height: 3vh;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
}

.sidebar-product-name {
    font-size: 1.2rem; /* Ajuste o tamanho do nome aqui */
    margin: 0;
}

.sidebar-product-description {
    font-size: 1rem; /* Ajuste o tamanho da descrição aqui */
    margin: 0;
}

.sidebar-close {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    width: 35%;
    height: 5vh;
    font-size: 20px;
    cursor: pointer;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #353535;
    padding: 20px;
}

.sidebar-close i{
    color: #fff;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #757575;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.floating-button .fa-cart-shopping {
    font-size: 30px;
    position: relative; /* Para permitir posicionamento absoluto do badge */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: #ffffff;
}

.floating-button .badge {
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    top: -2px; /* Ajuste o valor conforme necessário */
    right: -2px; /* Ajuste o valor conforme necessário */
}

.floating-button.visible {
    opacity: 1;
    visibility: visible;
}

.sidebar-product-remove {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    height: 10vh;
    width: 2vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar-product-remove i{
    color: #ffffff;
}

.sidebar-product-remove:hover {
    color: #ff0000; /* Cor ao passar o mouse */
}

.sidebar-product-remove i {
    font-size: 18px;
}


@media (max-width: 576px){
   /* Container principal dos produtos */
   .produtos-container {
    padding: 0 10%;
    height: 100vh;
    overflow: hidden;
}

.produtos-container::before {
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

/* Div container dos produtos */
.produtos-div-container {
    height: 30vh;
    width: 100%;
}

/* Textos dos produtos */
.produtos-texts {
    height: 15vh;
    width: 100%;
}

.produtos-texts h2 {
    font-size: 1.2rem;
    height: 7vh;
    width: 100%;
    line-height: 25px;
    text-align: center;
}

.produtos-texts p {
    height: 8vh;
    font-size: 0.8rem;
    width: 100%;
}

/* Botões dos produtos */
.produtos-btn {
    height: 10vh;
    width: 100%;
    padding: 0;
}

.produtos-topics-div-btn {
    width: 100%;
    height: 10vh;
    gap: 10px 10px;
    align-items: center;
}

.produtos-topics-div-btn button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
}

/* Container e layout dos cards de produtos */
.produtos-container-cards {
    width: 100%;
    height: 55vh;
    flex-wrap: nowrap;  
}

.produtos-cards {
    gap: 20px;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.produtos-card {
    width: 100%;
    height: 55vh;
    padding: 10px;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

/* Imagem do card do produto */
.produto-card-img {
    width: 100%;
    height: 25vh;
    margin-bottom: 10px;
}

.produto-card-img:hover > img {
    transform: rotate(-2deg) scale(1);
}

.produto-card-img img {
    width: 100%;
    height: 25vh;
}

/* Texto do card do produto */
.produto-card-text-top {
    width: 100%;
}

.produto-card-text-top h6 {
    font-size: 1rem;
    margin-left: 10px;
}

.produto-card-text-top p {
    font-size: 0.9rem;
    margin-left: 10px;
}

/* Texto do card do produto - centro */
.produto-card-text-center {
    width: 100%;
    gap: 5px;   
    height: 10vh;
}

.produto-card-text-center-center {
    width: 100%;
    height: 5vh;
    padding-bottom: 5px;    
}

.produto-card-text-center-center h6 {
    font-size: 0.8rem;
    margin-left: 10px;
    width: 50%;
}

.produto-card-text-center-center p {
    font-size: 0.8rem;
    margin-right: 10px;
    width: 50%;
}

/* Botões do card do produto */
.produto-card-btns {
    height: 12vh;
    width: 100%;
    gap: 10px;
}

.produto-card-btn-left {
    width: 85%;
    height: 5vh;
    margin-left: 10px;  
}

.produto-card-btn-right {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.produto-card-btn-right i{
    font-size: 15px;
}

.produto-action-left {
    top: 70%; /* Centraliza verticalmente */
    padding: 0px; /* Espaçamento opcional */
}

.produto-action-left.left {
    left: 0%; /* Alinha à esquerda com margem */
    width: 10%;
    height: 10%;
}

.produto-action-left.left button,
.produto-action-left.right button{
    height: 100%;
    width: 100%;
}

.produto-action-left.left i,
.produto-action-left.right i{
    font-size: 25px;
}

.produto-action-left.left i:hover,
.produto-action-left.right i:hover{
    color: #fff;
}

.produto-action-left.right {
    right: 0%;
    width: 10%;
    height: 10%;
}


/* MODAL */

/* Estilo do modal */
.modal {
    z-index: 10; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Estilo do conteúdo do modal */
.modal-content {
    margin: 10% auto; 
    width: 90vw;
    height: 90vh;
    flex-direction: column;
}

/* Estilo do botão de fechar */
.close {
    font-size: 20px;
    width: 35px;
    height: 35px;
}

.modal-img-left{
    width: 100%;
    height: 30vh;
}

.modal-img-left img{
    width: 100%;
    height: 30vh;
    border-radius: 10px 10px 0px 0px;
}

.modal-all-right{
    width: 100%;
    height: 50vh;
    padding: 30px;
}

.modal-titles-right{
    width: 100%;
    height: 30vh;
    gap: 10px;
}

.modal-all-right h2{
    font-size: 1.4rem;
    height: 5vh;
}

.modal-all-right p{
    height: 25vh;
    font-size: 0.8rem;
}

.modal-texts-right{
    width: 100%;
    height: 3vh;
}

.modal-texts-right p{
    height: 3vh;
    width: 50%;
    font-size: 0.8rem;
}

.modal-texts-right h6{
    height: 3vh;
    width: 50%;
    font-size: 0.8rem;
}


.sidebar {
    top: 0;
    right: -100%;
    width: 300px;
    height: 95dvh;
    top: 2.5vh;
}

.sidebar-header {
    height: 5vh;
    padding: 20px;
    width: 70%;
}

.sidebar-content {
    padding: 20px;
    height: 85vh;
}

.sidebar-products {
    gap: 10px;
}

.sidebar-footer {
    padding: 20px;
    height: 10vh;
    width: 100%;
}

.sidebar-footer button {
    width: 80%;
    padding: 10px;
}

.sidebar-product {
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
}

.sidebar-product img {
    width: 40%;
}

.sidebar-product-details {
    height: 7vh;
}

.sidebar-product-details h6{
    font-size: 0.9rem;
    line-height: 15px;
    height: 4vh;
    margin-bottom: 5px;
}

.sidebar-product-details p{
    height: 3vh;
    font-size: 0.7rem;
}

.sidebar-product-name {
    font-size: 1.2rem; /* Ajuste o tamanho do nome aqui */
}

.sidebar-product-description {
    font-size: 1rem; /* Ajuste o tamanho da descrição aqui */
}

.sidebar-close {
    top: 0px;
    right: 0px;
    width: 35%;
    height: 5vh;
    font-size: 20px;
    padding: 20px;
}

.floating-button {
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .fa-cart-shopping {
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .badge {
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: -2px; /* Ajuste o valor conforme necessário */
    right: -2px; /* Ajuste o valor conforme necessário */
}

.sidebar-product-remove {
    font-size: 18px;
    height: 10vh;
    width: 2vh;
}

.sidebar-product-remove i {
    font-size: 18px;
}
}

@media (min-width: 576px) and (max-width: 769px){
   /* Container principal dos produtos */
   .produtos-container {
    padding: 0 10%;
    height: 90vh;
}

.produtos-container::before {
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

/* Div container dos produtos */
.produtos-div-container {
    height: 30vh;
    width: 100%;
}

/* Textos dos produtos */
.produtos-texts {
    height: 15vh;
    width: 100%;
}

.produtos-texts h2 {
    font-size: 1.8rem;
    height: 7vh;
    width: 100%;
    line-height: 25px;
    text-align: left;
    justify-content: flex-start;
}

.produtos-texts p {
    height: 8vh;
    font-size: 1.1rem;
    width: 100%;
}

/* Botões dos produtos */
.produtos-btn {
    height: 10vh;
    width: 100%;
    padding: 0;
}

.produtos-topics-div-btn {
    width: 100%;
    height: 10vh;
    gap: 10px 10px;
    align-items: center;
}

.produtos-topics-div-btn button {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Container e layout dos cards de produtos */
.produtos-container-cards {
    width: 100%;
    height: 45vh;
    flex-wrap: nowrap;  
}

.produtos-cards {
    gap: 20px;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.produtos-card {
    width: 100%;
    height: 45vh;
    padding: 10px;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

/* Imagem do card do produto */
.produto-card-img {
    width: 100%;
    height: 22vh;
    margin-bottom: 10px;
}

.produto-card-img:hover > img {
    transform: rotate(-2deg) scale(1);
}

.produto-card-img img {
    width: 100%;
    height: 22vh;
}

/* Texto do card do produto */
.produto-card-text-top {
    width: 100%;
}

.produto-card-text-top h6 {
    font-size: 1.2rem;
    margin-left: 10px;
}

.produto-card-text-top p {
    font-size: 0.8rem;
    margin-left: 10px;
}

/* Texto do card do produto - centro */
.produto-card-text-center {
    width: 100%;
    gap: 5px;   
    height: 5vh;
}

.produto-card-text-center-center {
    width: 100%;
    height: 5vh;
    padding-bottom: 5px;    
}

.produto-card-text-center-center h6 {
    font-size: 0.8rem;
    margin-left: 10px;
    width: 50%;
}

.produto-card-text-center-center p {
    font-size: 0.8rem;
    margin-right: 10px;
    width: 50%;
}

/* Botões do card do produto */
.produto-card-btns {
    height: 12vh;
    width: 100%;
    gap: 10px;
}

.produto-card-btn-left {
    width: 85%;
    height: 5vh;
    margin-left: 10px;  
}

.produto-card-btn-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.produto-card-btn-right i{
    font-size: 20px;
}

.produto-action-left {
    top: 70%; /* Centraliza verticalmente */
    padding: 0px; /* Espaçamento opcional */
}

.produto-action-left.left {
    left: 0%; /* Alinha à esquerda com margem */
    width: 10%;
    height: 10%;
}

.produto-action-left.left button,
.produto-action-left.right button{
    height: 100%;
    width: 100%;
}

.produto-action-left.left i,
.produto-action-left.right i{
    font-size: 35px;
}

.produto-action-left.left i:hover,
.produto-action-left.right i:hover{
    color: #fff;
}

.produto-action-left.right {
    right: 0%;
    width: 10%;
    height: 10%;
}


/* MODAL */

/* Estilo do modal */
.modal {
    z-index: 10; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Estilo do conteúdo do modal */
.modal-content {
    margin: 10% auto; 
    width: 90vw;
    height: 90vh;
    flex-direction: column;
}

/* Estilo do botão de fechar */
.close {
    font-size: 20px;
    width: 35px;
    height: 35px;
}

.modal-img-left{
    width: 100%;
    height: 30vh;
}

.modal-img-left img{
    width: 100%;
    height: 30vh;
    border-radius: 10px 10px 0px 0px;
}

.modal-all-right{
    width: 100%;
    height: 50vh;
    padding: 30px;
}

.modal-titles-right{
    width: 100%;
    height: 30vh;
    gap: 10px;
}

.modal-all-right h2{
    font-size: 1.7rem;
    height: 5vh;
}

.modal-all-right p{
    height: 25vh;
    font-size: 1rem;
}

.modal-texts-right{
    width: 100%;
    height: 3vh;
}

.modal-texts-right p{
    height: 3vh;
    width: 50%;
    font-size: 1rem;
}

.modal-texts-right h6{
    height: 3vh;
    width: 50%;
    font-size: 1rem;
}


.sidebar {
    top: 0;
    right: -100%;
    width: 300px;
    height: 95dvh;
    top: 2.5vh;
}

.sidebar-header {
    height: 5vh;
    padding: 20px;
    width: 70%;
}

.sidebar-content {
    padding: 20px;
    height: 85vh;
}

.sidebar-products {
    gap: 10px;
}

.sidebar-footer {
    padding: 20px;
    height: 10vh;
    width: 100%;
}

.sidebar-footer button {
    width: 80%;
    padding: 10px;
}

.sidebar-product {
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
}

.sidebar-product img {
    width: 40%;
}

.sidebar-product-details {
    height: 7vh;
}

.sidebar-product-details h6{
    font-size: 0.9rem;
    line-height: 15px;
    height: 4vh;
    margin-bottom: 5px;
}

.sidebar-product-details p{
    height: 3vh;
    font-size: 0.7rem;
}

.sidebar-product-name {
    font-size: 1.2rem; /* Ajuste o tamanho do nome aqui */
}

.sidebar-product-description {
    font-size: 1rem; /* Ajuste o tamanho da descrição aqui */
}

.sidebar-close {
    top: 0px;
    right: 0px;
    width: 35%;
    height: 5vh;
    font-size: 20px;
    padding: 20px;
}

.floating-button {
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .fa-cart-shopping {
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .badge {
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: -2px; /* Ajuste o valor conforme necessário */
    right: -2px; /* Ajuste o valor conforme necessário */
}

.sidebar-product-remove {
    font-size: 18px;
    height: 10vh;
    width: 2vh;
}

.sidebar-product-remove i {
    font-size: 18px;
}
}

@media (min-width: 769px) and (max-width: 992px){
  /* Container principal dos produtos */
  .produtos-container {
    padding: 0 10%;
    height: 75vh;
}

.produtos-container::before {
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

/* Div container dos produtos */
.produtos-div-container {
    height: 30vh;
    width: 100%;
}

/* Textos dos produtos */
.produtos-texts {
    height: 15vh;
    width: 100%;
}

.produtos-texts h2 {
    font-size: 1.8rem;
    height: 7vh;
    width: 100%;
    line-height: 25px;
    text-align: left;
    justify-content: flex-start;
}

.produtos-texts p {
    height: 8vh;
    font-size: 1.1rem;
    width: 100%;
}

/* Botões dos produtos */
.produtos-btn {
    height: 10vh;
    width: 100%;
    padding: 0;
}

.produtos-topics-div-btn {
    width: 100%;
    height: 10vh;
    gap: 10px 10px;
    align-items: center;
}

.produtos-topics-div-btn button {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Container e layout dos cards de produtos */
.produtos-container-cards {
    width: 100%;
    height: 35vh;
    flex-wrap: nowrap;  
}

.produtos-cards {
    gap: 20px;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.produtos-card {
    width: 100%;
    height: 35vh;
    padding: 10px;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

/* Imagem do card do produto */
.produto-card-img {
    width: 100%;
    height: 18vh;
    margin-bottom: 10px;
}

.produto-card-img:hover > img {
    transform: rotate(-2deg) scale(1);
}

.produto-card-img img {
    width: 100%;
    height: 18vh;
}

/* Texto do card do produto */
.produto-card-text-top {
    width: 100%;
}

.produto-card-text-top h6 {
    font-size: 1.2rem;
    margin-left: 10px;
}

.produto-card-text-top p {
    font-size: 0.8rem;
    margin-left: 10px;
}

/* Texto do card do produto - centro */
.produto-card-text-center {
    width: 100%;
    gap: 5px;   
    height: 4vh;
}

.produto-card-text-center-center {
    width: 100%;
    height: 2vh;
    padding-bottom: 5px;    
}

.produto-card-text-center-center h6 {
    font-size: 0.8rem;
    margin-left: 10px;
    width: 50%;
}

.produto-card-text-center-center p {
    font-size: 0.8rem;
    margin-right: 10px;
    width: 50%;
}

/* Botões do card do produto */
.produto-card-btns {
    height: 8vh;
    width: 100%;
    gap: 10px;
}

.produto-card-btn-left {
    width: 85%;
    height: 4vh;
    margin-left: 10px;  
}

.produto-card-btn-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.produto-card-btn-right i{
    font-size: 20px;
}

.produto-action-left {
    top: 70%; /* Centraliza verticalmente */
    padding: 0px; /* Espaçamento opcional */
}

.produto-action-left.left {
    left: 0%; /* Alinha à esquerda com margem */
    width: 10%;
    height: 10%;
}

.produto-action-left.left button,
.produto-action-left.right button{
    height: 100%;
    width: 100%;
}

.produto-action-left.left i,
.produto-action-left.right i{
    font-size: 35px;
}

.produto-action-left.left i:hover,
.produto-action-left.right i:hover{
    color: #fff;
}

.produto-action-left.right {
    right: 0%;
    width: 10%;
    height: 10%;
}


/* MODAL */

/* Estilo do modal */
.modal {
    z-index: 10; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Estilo do conteúdo do modal */
.modal-content {
    margin: 5% auto; 
    width: 90vw;
    height: 90vh;
    flex-direction: column;
}

/* Estilo do botão de fechar */
.close {
    font-size: 20px;
    width: 35px;
    height: 35px;
}

.modal-img-left{
    width: 100%;
    height: 30vh;
}

.modal-img-left img{
    width: 100%;
    height: 30vh;
    border-radius: 10px 10px 0px 0px;
}

.modal-all-right{
    width: 100%;
    height: 60vh;
    padding: 30px;
}

.modal-titles-right{
    width: 100%;
    height: 40vh;
    gap: 10px;
}

.modal-all-right h2{
    font-size: 1.9rem;
    height: 5vh;
}

.modal-all-right p{
    height: 25vh;
    font-size: 1.2rem;
}

.modal-texts-right{
    width: 100%;
    height: 3vh;
}

.modal-texts-right p{
    height: 3vh;
    width: 50%;
    font-size: 1.1rem;
}

.modal-texts-right h6{
    height: 3vh;
    width: 50%;
    font-size: 1.1rem;
}

.sidebar {
    top: 0;
    right: -100%;
    width: 350px;
    height: 95dvh;
    top: 2.5vh;
}

.sidebar-header {
    height: 5vh;
    padding: 20px;
    width: 70%;
}

.sidebar-content {
    padding: 20px;
    height: 85vh;
}

.sidebar-products {
    gap: 10px;
}

.sidebar-footer {
    padding: 20px;
    height: 10vh;
    width: 100%;
}

.sidebar-footer button {
    width: 80%;
    padding: 10px;
}

.sidebar-product {
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
}

.sidebar-product img {
    width: 40%;
}

.sidebar-product-details {
    height: 7vh;
}

.sidebar-product-details h6{
    font-size: 0.9rem;
    line-height: 15px;
    height: 4vh;
    margin-bottom: 5px;
}

.sidebar-product-details p{
    height: 3vh;
    font-size: 0.7rem;
}

.sidebar-product-name {
    font-size: 1.2rem; /* Ajuste o tamanho do nome aqui */
}

.sidebar-product-description {
    font-size: 1rem; /* Ajuste o tamanho da descrição aqui */
}

.sidebar-close {
    top: 0px;
    right: 0px;
    width: 35%;
    height: 5vh;
    font-size: 20px;
    padding: 20px;
}

.floating-button {
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .fa-cart-shopping {
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .badge {
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: -2px; /* Ajuste o valor conforme necessário */
    right: -2px; /* Ajuste o valor conforme necessário */
}

.sidebar-product-remove {
    font-size: 18px;
    height: 10vh;
    width: 2vh;
}

.sidebar-product-remove i {
    font-size: 18px;
}
}

@media (min-width: 992px) and (max-width: 1200px){
 /* Container principal dos produtos */
 .produtos-container {
    padding: 0 10%;
    height: 105vh;
}

.produtos-container::before {
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

/* Div container dos produtos */
.produtos-div-container {
    height: 25vh;
    width: 100%;
}

/* Textos dos produtos */
.produtos-texts {
    height: 15vh;
    width: 100%;
}

.produtos-texts h2 {
    font-size: 1.8rem;
    height: 7vh;
    width: 100%;
    line-height: 25px;
    text-align: left;
    justify-content: center;
}

.produtos-texts p {
    height: 8vh;
    font-size: 1.1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Botões dos produtos */
.produtos-btn {
    height: 10vh;
    width: 100%;
    padding: 0;
}

.produtos-topics-div-btn {
    width: 100%;
    height: 10vh;
    gap: 10px 10px;
    align-items: center;
}

.produtos-topics-div-btn button {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* Container e layout dos cards de produtos */
.produtos-container-cards {
    width: 100%;
    height: 55vh;
    flex-wrap: nowrap;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos-cards {
    gap: 10px;
    width: 100%;
    overflow-x: hidden;

}

.produtos-card {
    width: 100%;
    height: 50vh;
    padding: 5px;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

/* Imagem do card do produto */
.produto-card-img {
    width: 100%;
    height: 22vh;
    margin-bottom: 10px;
}

.produto-card-img:hover > img {
    transform: rotate(-2deg) scale(1);
}

.produto-card-img img {
    width: 100%;
    height: 22vh;
}

/* Texto do card do produto */
.produto-card-text-top {
    width: 100%;
}

.produto-card-text-top h6 {
    font-size: 0.8rem;
    margin-left: 10px;
}

.produto-card-text-top p {
    font-size: 0.7rem;
    margin-left: 10px;
}

/* Texto do card do produto - centro */
.produto-card-text-center {
    width: 100%;
    gap: 5px;   
    height: 10vh;
}

.produto-card-text-center-center {
    width: 100%;
    height: 2vh;
    padding-bottom: 5px;    
}

.produto-card-text-center-center h6 {
    font-size: 0.8rem;
    margin-left: 10px;
    width: 50%;
}

.produto-card-text-center-center p {
    font-size: 0.8rem;
    margin-right: 10px;
    width: 50%;
}

/* Botões do card do produto */
.produto-card-btns {
    height: 10vh;
    width: 100%;
    gap: 10px;
}

.produto-card-btn-left {
    width: 85%;
    height: 5vh;
    margin-left: 10px;  
}

.produto-card-btn-right {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.produto-card-btn-right i{
    font-size: 15px;
}

.produto-action-left {
    top: 70%; /* Centraliza verticalmente */
    padding: 0px; /* Espaçamento opcional */
}

.produto-action-left.left {
    left: 0%; /* Alinha à esquerda com margem */
    width: 10%;
    height: 10%;
}

.produto-action-left.left button,
.produto-action-left.right button{
    height: 100%;
    width: 100%;
}

.produto-action-left.left i,
.produto-action-left.right i{
    font-size: 35px;
}

.produto-action-left.left i:hover,
.produto-action-left.right i:hover{
    color: #fff;
}

.produto-action-left.right {
    right: 0%;
    width: 10%;
    height: 10%;
}


/* MODAL */

/* Estilo do modal */
.modal {
    z-index: 10; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Estilo do conteúdo do modal */
.modal-content {
    margin: 5% auto; 
    width: 80vw;
    height: 80vh;
    overflow: hidden;
}

/* Estilo do botão de fechar */
.close {
    font-size: 30px;
    width: 50px;
    height: 50px;
}

.modal-img-left{
    width: 40%;
    height: 80vh;
}

.modal-img-left img{
    width: 100%;
    height: 80vh;
    border-radius: 5px 0px 0px 5px;
}

.modal-all-right{
    width: 60%;
    height: 70vh;
    padding: 30px;
}

.modal-titles-right{
    width: 100%;
    height: 50vh;
    gap: 10px;
}

.modal-all-right h2{
    font-size: 2.2rem;
    height: 5vh;
}

.modal-all-right p{
    height: 35vh;
    font-size: 1rem;
}

.modal-texts-right{
    width: 100%;
    height: 6vh;
}

.modal-texts-right p{
    height: 5vh;
    width: 35%;
    font-size: 1rem;
}

.modal-texts-right h6{
    height: 5vh;
    width: 35%;
    font-size: 1rem;
}


.sidebar {
    top: 0;
    right: -100%;
    width: 300px;
    height: 95dvh;
    top: 2.5vh;
}

.sidebar-header {
    height: 5vh;
    padding: 20px;
    width: 70%;
}

.sidebar-content {
    padding: 20px;
    height: 85vh;
}

.sidebar-products {
    gap: 10px;
}

.sidebar-footer {
    padding: 20px;
    height: 10vh;
    width: 100%;
}

.sidebar-footer button {
    width: 80%;
    padding: 10px;
}

.sidebar-product {
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
}

.sidebar-product img {
    width: 40%;
}

.sidebar-product-details {
    height: 7vh;
}

.sidebar-product-details h6{
    font-size: 0.9rem;
    line-height: 15px;
    height: 4vh;
    margin-bottom: 5px;
}

.sidebar-product-details p{
    height: 3vh;
    font-size: 0.7rem;
}

.sidebar-product-name {
    font-size: 1.2rem; /* Ajuste o tamanho do nome aqui */
}

.sidebar-product-description {
    font-size: 1rem; /* Ajuste o tamanho da descrição aqui */
}

.sidebar-close {
    top: 0px;
    right: 0px;
    width: 35%;
    height: 5vh;
    font-size: 20px;
    padding: 20px;
}

.floating-button {
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .fa-cart-shopping {
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .badge {
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: -2px; /* Ajuste o valor conforme necessário */
    right: -2px; /* Ajuste o valor conforme necessário */
}

.sidebar-product-remove {
    font-size: 18px;
    height: 10vh;
    width: 2vh;
}

.sidebar-product-remove i {
    font-size: 18px;
}
}

@media (min-width: 1200px) and (max-width: 1800px){
 /* Container principal dos produtos */
 .produtos-container {
    padding: 0 10%;
    height: 105vh;
}

.produtos-container::before {
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

/* Div container dos produtos */
.produtos-div-container {
    height: 25vh;
    width: 100%;
}

/* Textos dos produtos */
.produtos-texts {
    height: 15vh;
    width: 100%;
}

.produtos-texts h2 {
    font-size: 1.4rem;
    height: 7vh;
    width: 100%;
    line-height: 25px;
    text-align: left;
    justify-content: center;
}

.produtos-texts p {
    height: 8vh;
    font-size: 0.9rem;
    width: 100%;
    text-align: left;
    justify-content: center;
}

/* Botões dos produtos */
.produtos-btn {
    height: 15vh;
    width: 100%;
    padding: 0;
}

.produtos-topics-div-btn {
    width: 100%;
    height: 10vh;
    gap: 10px 10px;
    align-items: center;
}

.produtos-topics-div-btn button {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* Container e layout dos cards de produtos */
.produtos-container-cards {
    width: 100%;
    height: 60vh;
    flex-wrap: nowrap;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos-cards {
    gap: 10px;
    width: 100%;
    overflow-x: hidden;

}

.produtos-card {
    width: 100%;
    height: 50vh;
    padding: 10px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Imagem do card do produto */
.produto-card-img {
    width: 100%;
    height: 25vh;
    margin-bottom: 10px;
}

.produto-card-img:hover > img {
    transform: rotate(-2deg) scale(1);
}

.produto-card-img img {
    width: 100%;
    height: 25vh;
}

/* Texto do card do produto */
.produto-card-text-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 7vh;
}

.produto-card-text-top h6 {
    font-size: 1rem;
    margin-left: 10px;
}

.produto-card-text-top p {
    font-size: 0.7rem;
    margin-left: 10px;
}

/* Texto do card do produto - centro */
.produto-card-text-center {
    width: 100%;
    gap: 5px;   
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.produto-card-text-center-center {
    width: 100%;
    height: 5vh;    
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;    
}

.produto-card-text-center-center h6 {
    font-size: 0.8rem;
    margin-left: 10px;
    width: 50%;
}

.produto-card-text-center-center p {
    font-size: 0.8rem;
    margin-right: 10px;
    width: 50%;
}

/* Botões do card do produto */
.produto-card-btns {
    height: 10vh;
    width: 100%;
    gap: 10px;
}

.produto-card-btn-left {
    width: 70%;
    height: 6vh;
    margin-left: 10px;  
}

.produto-card-btn-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.produto-card-btn-right i{
    font-size: 20px;
}

.produto-action-left {
    top: 55%; /* Centraliza verticalmente */
    padding: 0px; /* Espaçamento opcional */
}

.produto-action-left.left {
    left: 0%; /* Alinha à esquerda com margem */
    width: 10%;
    height: 10%;
}

.produto-action-left.left button,
.produto-action-left.right button{
    height: 100%;
    width: 100%;
}

.produto-action-left.left i,
.produto-action-left.right i{
    font-size: 35px;
}

.produto-action-left.left i:hover,
.produto-action-left.right i:hover{
    color: #fff;
}

.produto-action-left.right {
    right: 0%;
    width: 10%;
    height: 10%;
}


/* MODAL */

/* Estilo do modal */
.modal {
    z-index: 10; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Estilo do conteúdo do modal */
.modal-content {
    margin: 5% auto; 
    width: 80vw;
    height: 80vh;
}

/* Estilo do botão de fechar */
.close {
    font-size: 30px;
    width: 50px;
    height: 50px;
}

.modal-img-left{
    width: 40%;
    height: 80vh;
}

.modal-img-left img{
    width: 100%;
    height: 80vh;
    border-radius: 15px 0px 0px 15px;
}

.modal-all-right{
    width: 60%;
    height: 70vh;
    padding: 30px;
}

.modal-titles-right{
    width: 100%;
    height: 50vh;
    gap: 10px;
}

.modal-all-right h2{
    font-size: 2.2rem;
    height: 5vh;
}

.modal-all-right p{
    height: 35vh;
    font-size: 1rem;
}

.modal-texts-right{
    width: 100%;
    height: 6vh;
}

.modal-texts-right p{
    height: 5vh;
    width: 35%;
    font-size: 1rem;
}

.modal-texts-right h6{
    height: 5vh;
    width: 35%;
    font-size: 1rem;
}

.sidebar {
    top: 0;
    right: -100%;
    width: 300px;
    height: 95dvh;
    top: 2.5vh;
}

.sidebar-header {
    height: 5vh;
    padding: 20px;
    width: 70%;
}

.sidebar-content {
    padding: 20px;
    height: 85vh;
}

.sidebar-products {
    gap: 10px;
}

.sidebar-footer {
    padding: 20px;
    height: 10vh;
    width: 100%;
}

.sidebar-footer button {
    width: 80%;
    padding: 10px;
}

.sidebar-product {
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
}

.sidebar-product img {
    width: 40%;
}

.sidebar-product-details {
    height: 7vh;
}

.sidebar-product-details h6{
    font-size: 0.9rem;
    line-height: 15px;
    height: 4vh;
    margin-bottom: 5px;
}

.sidebar-product-details p{
    height: 3vh;
    font-size: 0.7rem;
}

.sidebar-product-name {
    font-size: 1.2rem; /* Ajuste o tamanho do nome aqui */
}

.sidebar-product-description {
    font-size: 1rem; /* Ajuste o tamanho da descrição aqui */
}

.sidebar-close {
    top: 0px;
    right: 0px;
    width: 35%;
    height: 5vh;
    font-size: 20px;
    padding: 20px;
}

.floating-button {
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .fa-cart-shopping {
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .badge {
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: -2px; /* Ajuste o valor conforme necessário */
    right: -2px; /* Ajuste o valor conforme necessário */
}

.sidebar-product-remove {
    font-size: 18px;
    height: 10vh;
    width: 2vh;
}

.sidebar-product-remove i {
    font-size: 18px;
}
}

@media (min-width: 1801px){
     /* Container principal dos produtos */
 .produtos-container {
    padding: 0 10%;
    height: 100vh;
}

.produtos-container::before {
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

/* Div container dos produtos */
.produtos-div-container {
    height: 25vh;
    width: 100%;
}

/* Textos dos produtos */
.produtos-texts {
    height: 15vh;
    width: 100%;
}

.produtos-texts h2 {
    font-size: 2.6rem;
    height: 5vh;
    width: 100%;
    line-height: 25px;
    text-align: left;
    justify-content: center;
}

.produtos-texts p {
    height: 8vh;
    font-size: 1.4rem;
    width: 100%;
    text-align: left;
    justify-content: center;
}

/* Botões dos produtos */
.produtos-btn {
    height: 10vh;
    width: 100%;
    padding: 0;
}

.produtos-topics-div-btn {
    width: 100%;
    height: 10vh;
    gap: 10px 10px;
    align-items: center;
}

.produtos-topics-div-btn button {
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 1rem;
}

/* Container e layout dos cards de produtos */
.produtos-container-cards {
    width: 100%;
    height: 55vh;
    flex-wrap: nowrap;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos-cards {
    gap: 10px;
    width: 100%;
    overflow-x: hidden;

}

.produtos-card {
    width: 100%;
    height: 50vh;
    padding: 10px;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

/* Imagem do card do produto */
.produto-card-img {
    width: 100%;
    height: 25vh;
    margin-bottom: 10px;
}

.produto-card-img:hover > img {
    transform: rotate(-2deg) scale(1);
}

.produto-card-img img {
    width: 100%;
    height: 25vh;
}

/* Texto do card do produto */
.produto-card-text-top {
    width: 100%;
}

.produto-card-text-top h6 {
    font-size: 1.4rem;
    margin-left: 10px;
}

.produto-card-text-top p {
    font-size: 0.9rem;
    margin-left: 10px;
}

/* Texto do card do produto - centro */
.produto-card-text-center {
    width: 100%;
    gap: 5px;   
    height: 7vh;
}

.produto-card-text-center-center {
    width: 100%;
    height: 2vh;
    padding-bottom: 5px;    
}

.produto-card-text-center-center h6 {
    font-size: 0.9rem;
    margin-left: 10px;
    width: 50%;
}

.produto-card-text-center-center p {
    font-size: 1rem;
    margin-right: 10px;
    width: 50%;
}

/* Botões do card do produto */
.produto-card-btns {
    height: 10vh;
    width: 100%;
    gap: 10px;
}

.produto-card-btn-left {
    width: 85%;
    height: 5vh;
    margin-left: 10px;  
}

.produto-card-btn-right {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.produto-card-btn-right i{
    font-size: 20px;
}

.produto-action-left {
    top: 70%; /* Centraliza verticalmente */
    padding: 0px; /* Espaçamento opcional */
}

.produto-action-left.left {
    left: 0%; /* Alinha à esquerda com margem */
    width: 10%;
    height: 10%;
}

.produto-action-left.left button,
.produto-action-left.right button{
    height: 100%;
    width: 100%;
}

.produto-action-left.left i,
.produto-action-left.right i{
    font-size: 35px;
}

.produto-action-left.left i:hover,
.produto-action-left.right i:hover{
    color: #fff;
}

.produto-action-left.right {
    right: 0%;
    width: 10%;
    height: 10%;
}


/* MODAL */

/* Estilo do modal */
.modal {
    z-index: 10; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Estilo do conteúdo do modal */
.modal-content {
    margin: 5% auto; 
    width: 90vw;
    height: 80vh;
}

/* Estilo do botão de fechar */
.close {
    font-size: 30px;
    width: 50px;
    height: 50px;
}

.modal-img-left{
    width: 40%;
    height: 80vh;
}

.modal-img-left img{
    width: 100%;
    height: 80vh;
    border-radius: 5px 0px 0px 5px;
}

.modal-all-right{
    width: 60%;
    height: 60vh;
    padding: 30px;
}

.modal-titles-right{
    width: 100%;
    height: 40vh;
    gap: 10px;
}

.modal-all-right h2{
    font-size: 3rem;
    height: 5vh;
}

.modal-all-right p{
    height: 35vh;
    font-size: 1.6rem;
}

.modal-texts-right{
    width: 100%;
    height: 6vh;
}

.modal-texts-right p{
    height: 5vh;
    width: 35%;
    font-size: 1.4rem;
}

.modal-texts-right h6{
    height: 5vh;
    width: 35%;
    font-size: 1.4rem;
}

.sidebar {
    top: 0;
    right: -100%;
    width: 350px;
    height: 95dvh;
    top: 2.5vh;
}

.sidebar-header {
    height: 5vh;
    padding: 20px;
    width: 70%;
}

.sidebar-content {
    padding: 20px;
    height: 85vh;
}

.sidebar-products {
    gap: 10px;
}

.sidebar-footer {
    padding: 20px;
    height: 10vh;
    width: 100%;
}

.sidebar-footer button {
    width: 80%;
    padding: 10px;
}

.sidebar-product {
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
}

.sidebar-product img {
    width: 40%;
}

.sidebar-product-details {
    height: 7vh;
}

.sidebar-product-details h6{
    font-size: 0.9rem;
    line-height: 15px;
    height: 4vh;
    margin-bottom: 5px;
}

.sidebar-product-details p{
    height: 3vh;
    font-size: 0.7rem;
}

.sidebar-product-name {
    font-size: 1.2rem; /* Ajuste o tamanho do nome aqui */
}

.sidebar-product-description {
    font-size: 1rem; /* Ajuste o tamanho da descrição aqui */
}

.sidebar-close {
    top: 0px;
    right: 0px;
    width: 35%;
    height: 5vh;
    font-size: 20px;
    padding: 20px;
}

.floating-button {
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .fa-cart-shopping {
    font-size: 20px;
    width: 70px;
    height: 70px;
}

.floating-button .badge {
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: -2px; /* Ajuste o valor conforme necessário */
    right: -2px; /* Ajuste o valor conforme necessário */
}

.sidebar-product-remove {
    font-size: 18px;
    height: 10vh;
    width: 2vh;
}

.sidebar-product-remove i {
    font-size: 18px;
}
}