.profissionais-container{
    padding: 0 10%;
    height: 170vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profissionais-div-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.profissionais-texts{
    height: 10vh;
    flex-direction: column;
}

.profissionais-texts h2{
    font-size: 3rem;
    display: flex;
    align-items: center;
    height: 5vh;
}

.profissionais-texts p{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 5vh;
}

.profissionais-card-container{
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profissionais-cards{
    width: 100%;
    border: 1px solid #000;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
}

.prof-left{
    width: 50%;
    height: 60vh;
}

.prof-left img{
    width: 100%;
    height: 60vh;
}

.prof-right{
    width: 50%;
    height: 60vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.prof-right-text h2{
    font-size: 3rem;
    height: 10vh;
}

.prof-right-text p{
    height: 20vh;
    font-size: 1.2rem;
}

.prof-right-links{
    height: 5vh;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}