.projetos-container{
    padding: 0 10%;
    height: 105vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.projetos-div-container{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projetos-texts{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projetos-texts h2{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.projetos-texts p{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.projetos-cards-div{
    display: flex;
    width: 100%;
    gap: 80px;
    height: 75vh;
    overflow: hidden;
}

.projetos-cards.card-large {
    transform: scale(1); /* Aumenta o tamanho do card central */
    z-index: 1; /* Garante que o card central fique acima dos outros */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    filter: brightness(100%);
}

.projetos-cards{
    height: 65vh;
    padding: 0px;
    transform: scale(0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0.4;
    filter: brightness(70%);
}

.projetos-cards:nth-child(n+4){
    display: none;
}

.projeto-image{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projeto-image img{
    width: 100%;
    height: 35vh;
}

.projeto-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
    height: 12vh;
    padding: 20px;
}

.projeto-text h6{
    width: 100%;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.projeto-text p{
    font-size: 1rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.projeto-parags{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
}

.projeto-parags p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.projeto-btn{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.projeto-btn button{
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    transition: all .3s;
    cursor: pointer;
}

.projeto-btn button:hover{
    background-color: #000;
    color: #fff;
}

.projeto-action{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    gap: 10px;
    border-radius: 10px;
}

.projeto-action-left,
.projeto-action-right{
    height: 5vh;
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.projeto-action-left i,
.projeto-action-right i{
    font-size: 30px;
    color: #cfcfcf;
    transition: all .3s;
}

.projeto-action-left i:hover,
.projeto-action-right i:hover{
    color: #353535;
}


.projeto-action-center{
    height: 5vh;
    width: 200px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .3s;
}

.projeto-action-center:hover{
    background-color: #000;
    color: #fff;
}

@media (min-width: 768px){
    .projetos-container{
        display: none;
    }
}