.qualidades-container {
    padding: 0 10%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imagens/qualidades-fundo.webp');
    background-position: center;
    background-size: cover;
    border-image: fill 0 linear-gradient(#0001, #353535);
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
}

.qualidades-all-items{
    height: 55vh;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.qualidade-texts{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qualidade-texts h2{
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
}

.qualidade-texts a{
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6); /* Cor com baixa opacidade */
    color: #353535;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all .3s;
    animation: animate_pulse 2s infinite linear;
}

.qualidade-texts a:hover{
    background-color: #ffffff;
    color: #353535;
}

.qualidade-cards-all{
    display: flex;
    justify-content: space-between;
    height: 45vh;
    align-items: center;
    gap: 30px;
}

.qualidade-cards {
    height: 40vh;
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* Cor com baixa opacidade */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s;
}

.qualidade-cards:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}

.qualidade-cards:hover > .qualidade-card-top{
    color: #353535;
}

.qualidade-cards:hover > .qualidade-card-bottom{
    color: #353535;
}

.qualidade-cards:hover > .qualidade-card-top i{
    color: #353535;
}

.qualidade-card-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.qualidade-card-top img{
    width: 50px;
    color: #353535;
}

.qualidade-card-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 25vh;
    cursor: default;
    gap: 10px;
}

.qualidade-card-bottom h6{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing:-0.5px;
}

.qualidade-card-bottom p{
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    align-items: center;   
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
}

@media (max-width: 576px){
    .qualidades-container{
        padding: 0 10%;
        height: 165dvh;
        overflow-x: hidden;
        background-image: none;
        background-color: #353535;
        clip-path: polygon(0 1%, 100% 0, 100% 99%, 0% 100%);
    }
    
    .qualidades-all-items{
        height: 150vh;
        width: 100%;
        gap: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .qualidade-texts{
        height: 10vh;
    }
    
    .qualidade-texts h2{
        height: 10vh;
        font-size: 1.4rem;
        width: 100%;
        line-height: 25px;
        text-align: center;
        color: #fff;
    }
    
    .qualidade-texts a{
        display: none;
    }
    
    .qualidade-cards-all{
        height: 130vh;
        gap: 15px;
        flex-wrap: wrap;
    }
    
    .qualidade-cards {
        height: 30vh;
        width: 100%;
        gap: 10px;
        padding: 20px;
        border-radius: 5px;
        background-color: #ffffff;
        filter: none;
    }

    .qualidade-cards:hover{
        filter: none;
    }
    
    .qualidade-card-top{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .qualidade-card-top img{
        width: 30px;
    }
    
    .qualidade-card-bottom{
        width: 100%;
        height: 20vh;
        gap: 10px;
    }
    
    .qualidade-card-bottom h6{
        font-size: 1.2rem;
        width: 100%;
        letter-spacing:-0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    
    .qualidade-card-bottom p{
        font-size: 0.7rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 15vh;
        text-align: justify;
    }
}

@media (min-width: 576px) and (max-width: 769px){
    .qualidades-container{
        padding: 0 10%;
        height: 90dvh;
        overflow-x: hidden;
        background-image: none;
        background-color: #353535;
        clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    }
    
    .qualidades-all-items{
        height: 80vh;
        width: 100%;
        gap: 20px;
    }
    
    .qualidade-texts{
        height: 10vh;
    }
    
    .qualidade-texts h2{
        height: 10vh;
        font-size: 1.7rem;
        width: 100%;
        line-height: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    
    .qualidade-texts a{
        display: none;
    }
    
    .qualidade-cards-all{
        height: 60vh;
        gap: 15px;
        flex-wrap: wrap;
    }
    
    .qualidade-cards {
        height: 30vh;
        width: 48%;
        gap: 10px;
        padding: 20px;
        border-radius: 5px;
        filter: none;
        background-color: #ffffff;
    }

    .qualidades-cards:hover{
        filter: none;
    }
    
    .qualidade-card-top{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .qualidade-card-top img{
        width: 35px;
    }
    
    .qualidade-card-bottom{
        width: 100%;
        height: 20vh;
        gap: 10px;
    }
    
    .qualidade-card-bottom h6{
        font-size: 1.2rem;
        width: 100%;
        letter-spacing:-0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    
    .qualidade-card-bottom p{
        font-size: 0.8rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 15vh;
        text-align: justify;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .qualidades-container{
        padding: 0 10%;
        height: 80dvh;
        overflow-x: hidden;
        background-image: none;
        background-color: #353535;
        clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    }
    
    .qualidades-all-items{
        height: 70vh;
        width: 100%;
        gap: 20px;
    }
    
    .qualidade-texts{
        height: 10vh;
    }
    
    .qualidade-texts h2{
        height: 10vh;
        font-size: 2rem;
        width: 100%;
        line-height: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    
    .qualidade-texts a{
        display: none;
    }
    
    .qualidade-cards-all{
        height: 50vh;
        gap: 15px;
        flex-wrap: wrap;
    }
    
    .qualidade-cards {
        height: 25vh;
        width: 48%;
        gap: 10px;
        padding: 20px;
        border-radius: 5px;
        filter: none;
        background-color: #ffffff;
    }

    .qualidade-cards:hover{
        filter: none;
    }
    
    .qualidade-card-top{
        width: 100%;
        height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .qualidade-card-top img{
        width: 40px;
    }
    
    .qualidade-card-bottom{
        width: 100%;
        height: 17vh;
        gap: 10px;
    }
    
    .qualidade-card-bottom h6{
        font-size: 1rem;
        width: 100%;
        letter-spacing:-0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    
    .qualidade-card-bottom p{
        font-size: 0.85rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 15vh;
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .qualidades-container{
        padding: 0 10%;
        height: 95dvh;
        overflow-x: hidden;
    }
    
    .qualidades-all-items{
        height: 80vh;
        width: 100%;
        gap: 20px;
    }
    
    .qualidade-texts{
        height: 10vh;
    }
    
    .qualidade-texts h2{
        height: 10vh;
        font-size: 2rem;
        width: 80%; 
        line-height: 25px;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
    }
    
    .qualidade-texts a{
        padding: 0px;
        font-size: 0.8rem;  
        height: 6vh;
        width: 20%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .qualidade-cards-all{
        height: 60vh;
        gap: 15px;
        flex-wrap: nowrap;
    }
    
    .qualidade-cards {
        height: 45vh;
        width: 25%;
        gap: 10px;
        padding: 20px;
        border-radius: 5px;
    }
    
    .qualidade-card-top{
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .qualidade-card-top img{
        width: 25px;
    }
    
    .qualidade-card-bottom{
        width: 100%;
        height: 35vh;
        gap: 10px;
    }
    
    .qualidade-card-bottom h6{
        font-size: 0.9rem;
        width: 100%;
        letter-spacing:-0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    
    .qualidade-card-bottom p{
        font-size: 0.75rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: left;
        height: 30vh;
    }
}

@media (min-width: 1200px) and (max-width: 1800px){
    .qualidades-container{
        padding: 0 10%;
        height: 90dvh;
        overflow-x: hidden;
    }
    
    .qualidades-all-items{
        height: 75vh;
        width: 100%;
        gap: 20px;
    }
    
    .qualidade-texts{
        height: 10vh;
    }
    
    .qualidade-texts h2{
        height: 10vh;
        font-size: 2rem;
        width: 80%; 
        line-height: 25px;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
    }
    
    .qualidade-texts a{
        padding: 0px;
        font-size: 0.8rem;  
        height: 6vh;
        width: 20%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .qualidade-cards-all{
        height: 60vh;
        gap: 15px;
        flex-wrap: nowrap;
    }
    
    .qualidade-cards {
        height: 40vh;
        width: 25%;
        gap: 10px;
        padding: 20px;
        border-radius: 5px;
    }
    
    .qualidade-card-top{
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .qualidade-card-top img{
        width: 30px;
    }
    
    .qualidade-card-bottom{
        width: 100%;
        height: 30vh;
        gap: 10px;
    }
    
    .qualidade-card-bottom h6{
        font-size: 0.9rem;
        width: 100%;
        letter-spacing:-0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    
    .qualidade-card-bottom p{
        font-size: 0.75rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: left;
        height: 25vh;
    }
}

@media (min-width: 1801px){
    .qualidades-container{
        padding: 0 10%;
        height: 90dvh;
        overflow-x: hidden;
    }
    
    .qualidades-all-items{
        height: 75vh;
        width: 100%;
        gap: 20px;
    }
    
    .qualidade-texts{
        height: 10vh;
    }
    
    .qualidade-texts h2{
        height: 10vh;
        font-size: 3rem;
        width: 80%; 
        line-height: 25px;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
    }
    
    .qualidade-texts a{
        padding: 0px;
        font-size: 1.2rem;  
        height: 6vh;
        width: 20%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .qualidade-cards-all{
        height: 60vh;
        gap: 15px;
        flex-wrap: nowrap;
    }
    
    .qualidade-cards {
        height: 40vh;
        width: 25%;
        gap: 10px;
        padding: 20px;
        border-radius: 5px;
    }
    
    .qualidade-card-top{
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .qualidade-card-top img{
        width: 45px;
    }
    
    .qualidade-card-bottom{
        width: 100%;
        height: 30vh;
        gap: 10px;
    }
    
    .qualidade-card-bottom h6{
        font-size: 1.3rem;
        width: 100%;
        letter-spacing:-0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    
    .qualidade-card-bottom p{
        font-size: 1.05rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: left;
        height: 25vh;
    }
}