.qualidades-container{
    padding: 0 10%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qualidades-all-items{
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qualidade-texts{
    height: 10vh;
}

.qualidade-texts h2{
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.qualidade-cards-all{
    display: flex;
    justify-content: space-between;
    height: 45vh;
    align-items: center;
    gap: 40px;
}

.qualidade-cards{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #dddddd;
    border-radius: 15px;
    transition: all .4s;
}

.qualidade-cards:hover{
    background-color: #1f9ad7;
    transform: scale(1.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.qualidade-cards:hover > .qualidade-card-top{
    color: #fff;
}

.qualidade-cards:hover > .qualidade-card-bottom{
    color: #fff;
}

.qualidade-cards:hover > .qualidade-card-top i{
    color: #fff;
}

.qualidade-card-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.qualidade-card-top i{
    font-size: 40px;
    color: #000;
}

.qualidade-card-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 25vh;
    cursor: default;
    gap: 10px;
}

.qualidade-card-bottom h6{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing:-0.5px;
}

.qualidade-card-bottom p{
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    align-items: center;   
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
}