.sobre-container{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 145vh;
    background-color: #fff;
}

.sobre-container-div{
    width: 100%;
    height: 110vh;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sobre-cards{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sobre-card{
    height: 43vh;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 0px;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .3s;
    cursor: default;
}

.sobre-card:hover{
    background-color: #fff;
}

.sobre-card:hover > .sobre-card-top i{
    color: #fff;
    background-color: #000;
}

.sobre-card:hover > .sobre-card-top h4{
    color: #000;
}

.sobre-card:hover > .sobre-card-bottom{
    color: #000;
}

.sobre-card-top{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.sobre-card-top img{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    transition: all .3s;
    width: 100%;
    height: 22vh;
    object-fit: cover;
    object-position: center;
}

.sobre-card-top h4{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.sobre-card-bottom{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 8vh;
    padding: 28px;
    color: #000;
}

.sobre-card-bottom p{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.sobre-titles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 30vh;
}

.sobre-titles h2{
    width: 100%;
    text-align: center;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


.sobre-topics{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    height: 30vh;
    flex-wrap: wrap;
}

.sobre-topic{
    width: 30%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    gap: 10px;
    transition: all .3s;
}

.sobre-topic:hover{
    gap: 0px;
}

.sobre-topic-left{
    width: 30%;
    height: 22vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 5px 0px 0px 5px;
    transition: all .3s;
}

.sobre-topic-left img{
    width: 50%;
}


.sobre-topic-left:hover{
    background-color: #000;
}

.sobre-topic-left:hover > img{
    filter: invert(100%);
}

.sobre-topic-left:hover + .sobre-topic-right{
    border-color: #000;
}

.sobre-topic-left i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 40px;
    color: #000;
}

.sobre-topic-right{
    width: 70%;
    height: 22vh;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ebebeb;
    border-radius: 0px 5px 5px 0px;
    padding: 15px;
    transition: all .3s;
    gap: 10px;
}

.sobre-topic-right h4{
    width: 100%;
    height: 3vh;
    font-size: 1.5rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.sobre-topic-right p{
    width: 100%;
    height: 12vh;
    font-size: 1rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

@media (max-width: 768px){
    .sobre-container{
        padding: 0 10%;
        width: 100%;
        height: 240vh;
    }
    
    .sobre-container-div{
        width: 100%;
        height: 200vh;
        gap: 10px;
    }
    
    .sobre-cards{
        width: 100%;
        height: 125dvh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    
    .sobre-card{
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .sobre-card-top{
        width: 100%;
        height: 30vh;
        padding: 0px;
    }
    
    .sobre-card-top img{
        left: 0;
        width: 100%;
        height: 20vh;
    }
    
    .sobre-card-top h4{
        height: 5vh;
        width: 100%;
        font-size: 1.2rem;
        padding-top: 20px;
    }
    
    .sobre-card-bottom{
        width: 100%;
        height: 10vh;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px 30px 15px;
    }
    
    .sobre-card-bottom p{
        width: 100%;
        font-size: 0.7rem;
        height: 15vh;
    }
    
    .sobre-titles{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-titles h2{
        width: 100%;
        height: 5vh;
        font-size: 1.4rem;
    }
    
    
    .sobre-topics{
        width: 100%;
        gap: 10px;
        height: 75vh;
    }
    
    .sobre-topic{
        width: 100%;
        height: 15vh;
        border-radius: 0px;
    }
    
    .sobre-topic:hover{
        gap: 0px;
    }
    
    .sobre-topic-left{
        width: 30%;
        height: 15vh;
    }
    
    .sobre-topic-left img{
        width: 50%;
    }
    
    
    .sobre-topic-left i{
        width: 100%;
        height: 15vh;
        font-size: 40px;
    }
    
    .sobre-topic-right{
        width: 70%;
        height: 15vh;
        padding: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .sobre-topic-right h4{
        width: 100%;
        height: 3vh;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
    
    .sobre-topic-right p{
        width: 100%;
        height: 12vh;
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
    
}