.sobre-container{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 145vh;
    background-color: #fff;
}

.sobre-container-div{
    width: 100%;
    height: 110vh;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sobre-cards{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sobre-card{
    height: 43vh;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 0px;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .3s;
    cursor: default;
}

.sobre-card:hover{
    background-color: #fff;
}

.sobre-card:hover > .sobre-card-top i{
    color: #fff;
    background-color: #000;
}

.sobre-card:hover > .sobre-card-top h4{
    color: #000;
}

.sobre-card:hover > .sobre-card-bottom{
    color: #000;
}

.sobre-card-top{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.sobre-card-top img{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    transition: all .3s;
    width: 100%;
    height: 22vh;
    object-fit: cover;
    object-position: center;
}

.sobre-card-top h4{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.sobre-card-bottom{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 8vh;
    padding: 28px;
    color: #000;
}

.sobre-card-bottom p{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.sobre-titles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 30vh;
}

.sobre-titles h2{
    width: 100%;
    text-align: center;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


.sobre-topics{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    height: 30vh;
    flex-wrap: wrap;
}

.sobre-topic{
    width: 30%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    gap: 10px;
    transition: all .3s;
}

.sobre-topic:hover{
    gap: 0px;
}

.sobre-topic-left{
    width: 30%;
    height: 22vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 5px 0px 0px 5px;
    transition: all .3s;
}

.sobre-topic-left img{
    width: 50%;
}


.sobre-topic-left:hover{
    background-color: #000;
}

.sobre-topic-left:hover > img{
    filter: invert(100%);
}

.sobre-topic-left:hover + .sobre-topic-right{
    border-color: #000;
}

.sobre-topic-left i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 40px;
    color: #000;
}

.sobre-topic-right{
    width: 70%;
    height: 22vh;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ebebeb;
    border-radius: 0px 5px 5px 0px;
    padding: 15px;
    transition: all .3s;
    gap: 10px;
}

.sobre-topic-right h4{
    width: 100%;
    height: 3vh;
    font-size: 1.5rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.sobre-topic-right p{
    width: 100%;
    height: 12vh;
    font-size: 1rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

@media (max-width: 576px){
    .sobre-container{
        padding: 0 10%;
        width: 100%;
        height: 230vh;
        overflow-x: hidden;
    }
    
    .sobre-container-div{
        width: 100%;
        height: 220vh;
        gap: 10px;
    }
    
    .sobre-cards{
        width: 100%;
        height: 125dvh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    
    .sobre-card{
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .sobre-card-top{
        width: 100%;
        height: 30vh;
        padding: 0px;
    }
    
    .sobre-card-top img{
        left: 0;
        width: 100%;
        height: 20vh;
    }
    
    .sobre-card-top h4{
        height: 5vh;
        width: 100%;
        font-size: 1.2rem;
        padding-top: 20px;
    }
    
    .sobre-card-bottom{
        width: 100%;
        height: 10vh;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px 30px 15px;
    }
    
    .sobre-card-bottom p{
        width: 100%;
        font-size: 0.7rem;
        height: 15vh;
    }
    
    .sobre-titles{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-titles h2{
        width: 100%;
        height: 5vh;
        font-size: 1.4rem;
    }
    
    
    .sobre-topics{
        width: 100%;
        gap: 10px;
        height: 75vh;
    }
    
    
    .sobre-topic{
        width: 100%;
        height: 15vh;
        border-radius: 0px;
    }
    
    .sobre-topic:hover{
        gap: 0px;
    }
    
    .sobre-topic-left{
        width: 30%;
        height: 15vh;
    }
    
    .sobre-topic-left img{
        width: 50%;
    }
    
    
    .sobre-topic-left i{
        width: 100%;
        height: 15vh;
        font-size: 40px;
    }
    
    .sobre-topic-right{
        width: 70%;
        height: 15vh;
        padding: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .sobre-topic-right h4{
        width: 100%;
        height: 3vh;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
    
    .sobre-topic-right p{
        width: 100%;
        height: 12vh;
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
}

@media (min-width: 576px) and (max-width: 769px){
    .sobre-container{
        padding: 0 10%;
        width: 100%;
        height: 160vh;
        overflow-x: hidden;
    }
    
    .sobre-container-div{
        width: 100%;
        height: 150vh;
        gap: 10px;
    }
    
    .sobre-cards{
        width: 100%;
        height: 50dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: wrap;
        gap: 10px;
    }
    
    .sobre-card{
        height: 40vh;
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre-card:nth-child(3){
        display: none;
    }
    
    .sobre-card-top{
        width: 100%;
        height: 30vh;
        padding: 0px;
    }
    
    .sobre-card-top img{
        left: 0;
        width: 100%;
        height: 20vh;
    }
    
    .sobre-card-top h4{
        height: 5vh;
        width: 100%;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .sobre-card-bottom{
        width: 100%;
        height: 15vh;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 15px 15px 10px 15px;
    }
    
    .sobre-card-bottom p{
        width: 100%;
        font-size: 0.85rem;
        align-items: center;
        justify-content: center; 
        height: 15vh;
        text-align: justify;
    }
    
    .sobre-titles{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-titles h2{
        width: 100%;
        height: 5vh;
        font-size: 1.8rem;
    }
    
    
    .sobre-topics{
        width: 100%;
        gap: 5px;
        height: 90vh;
        justify-content: space-between;
    }
    
    .sobre-topic{
        width: 100%;
        height: 15vh;
        border-radius: 0px;
    }
    
    .sobre-topic:hover{
        gap: 0px;
    }
    
    .sobre-topic-left{
        width: 30%;
        height: 15vh;
    }
    
    .sobre-topic-left img{
        width: 40%;
    }
    
    
    .sobre-topic-left i{
        width: 100%;
        height: 15vh;
        font-size: 40px;
    }
    
    .sobre-topic-right{
        width: 70%;
        height: 15vh;
        padding: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .sobre-topic-right h4{
        width: 100%;
        height: 4vh;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
    
    .sobre-topic-right p{
        width: 100%;
        height: 11vh;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .sobre-container{
        padding: 0 10%;
        width: 100%;
        height: 160vh;
        overflow-x: hidden;
    }
    
    .sobre-container-div{
        width: 100%;
        height: 150vh;
        gap: 10px;
    }
    
    .sobre-cards{
        width: 100%;
        height: 50dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: wrap;
        gap: 10px;
    }
    
    .sobre-card{
        height: 40vh;
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre-card:nth-child(3){
        display: none;
    }
    
    .sobre-card-top{
        width: 100%;
        height: 30vh;
        padding: 0px;
    }
    
    .sobre-card-top img{
        left: 0;
        width: 100%;
        height: 20vh;
    }
    
    .sobre-card-top h4{
        height: 5vh;
        width: 100%;
        font-size: 1.7rem;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    
    .sobre-card-bottom{
        width: 100%;
        height: 15vh;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 15px 15px 10px 15px;
    }
    
    .sobre-card-bottom p{
        width: 100%;
        font-size: 0.95rem;
        align-items: center;
        justify-content: center; 
        height: 15vh;
        text-align: justify;
    }
    
    .sobre-titles{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-titles h2{
        width: 100%;
        height: 5vh;
        font-size: 2.2rem;
    }
    
    
    .sobre-topics{
        width: 100%;
        gap: 5px;
        height: 85vh;
        justify-content: space-between;
    }
    
    .sobre-topic{
        width: 100%;
        height: 15vh;
        border-radius: 0px;
    }
    
    .sobre-topic:hover{
        gap: 0px;
    }
    
    .sobre-topic-left{
        width: 30%;
        height: 15vh;
    }
    
    .sobre-topic-left img{
        width: 40%;
    }
    
    
    .sobre-topic-left i{
        width: 100%;
        height: 15vh;
        font-size: 40px;
    }
    
    .sobre-topic-right{
        width: 70%;
        height: 15vh;
        padding: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .sobre-topic-right h4{
        width: 100%;
        height: 4vh;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
    
    .sobre-topic-right p{
        width: 100%;
        height: 11vh;
        font-size: 1.05rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .sobre-container{
        padding: 0 10%;
        width: 100%;
        height: 120vh;
        overflow-x: hidden;
    }
    
    .sobre-container-div{
        width: 100%;
        height: 110vh;
        gap: 10px;
    }
    
    .sobre-cards{
        width: 100%;
        height: 50dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        white-space: wrap;
        gap: 10px;
    }
    
    .sobre-card{
        height: 45vh;
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-card-top{
        width: 100%;
        height: 25vh;
        padding: 0px;
    }
    
    .sobre-card-top img{
        left: 0;
        width: 100%;
        height: 20vh;
    }
    
    .sobre-card-top h4{
        height: 5vh;
        width: 100%;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    
    .sobre-card-bottom{
        width: 100%;
        height: 20vh;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 15px 15px 10px 15px;
    }
    
    .sobre-card-bottom p{
        width: 100%;
        font-size: 0.75rem;
        align-items: center;
        justify-content: center; 
        height: 15vh;
        text-align: justify;
    }
    
    .sobre-titles{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-titles h2{
        width: 100%;
        height: 5vh;
        font-size: 1.7rem;
    }
    
    
    .sobre-topics{
        width: 100%;
        gap: 15px;
        height: 45vh;
        justify-content: center;
        display: flex;
    }
    
    .sobre-topic{
        width: 32%;
        height: 20vh;
        border-radius: 0px;
    }
    
    .sobre-topic:hover{
        gap: 0px;
    }
    
    .sobre-topic-left{
        width: 30%;
        height: 20vh;
    }
    
    .sobre-topic-left img{
        width: 50%;
    }
    
    
    .sobre-topic-left i{
        width: 100%;
        height: 25vh;
        font-size: 40px;
    }
    
    .sobre-topic-right{
        width: 70%;
        height: 20vh;
        padding: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .sobre-topic-right h4{
        width: 100%;
        height: 5vh;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
    
    .sobre-topic-right p{
        width: 100%;
        height: 15vh;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
}

@media (min-width: 1200px) and (max-width: 1800px){
    .sobre-container{
        padding: 0 10%;
        width: 100%;
        height: 120vh;
        overflow-x: hidden;
    }
    
    .sobre-container-div{
        width: 100%;
        height: 110vh;
        gap: 10px;
    }
    
    .sobre-cards{
        width: 100%;
        height: 50dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        white-space: wrap;
        gap: 10px;
    }
    
    .sobre-card{
        height: 45vh;
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-card-top{
        width: 100%;
        height: 25vh;
        padding: 0px;
    }
    
    .sobre-card-top img{
        left: 0;
        width: 100%;
        height: 20vh;
    }
    
    .sobre-card-top h4{
        height: 5vh;
        width: 100%;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    
    .sobre-card-bottom{
        width: 100%;
        height: 20vh;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 15px 15px 10px 15px;
    }
    
    .sobre-card-bottom p{
        width: 100%;
        font-size: 0.90rem;
        align-items: center;
        justify-content: center; 
        height: 15vh;
        text-align: justify;
    }
    
    .sobre-titles{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-titles h2{
        width: 100%;
        height: 5vh;
        font-size: 2rem;
    }
    
    
    .sobre-topics{
        width: 100%;
        gap: 15px;
        height: 45vh;
        justify-content: center;
        display: flex;
    }
    
    .sobre-topic{
        width: 32%;
        height: 20vh;
        border-radius: 0px;
    }
    
    .sobre-topic:hover{
        gap: 0px;
    }
    
    .sobre-topic-left{
        width: 30%;
        height: 20vh;
    }
    
    .sobre-topic-left img{
        width: 50%;
    }
    
    
    .sobre-topic-left i{
        width: 100%;
        height: 25vh;
        font-size: 40px;
    }
    
    .sobre-topic-right{
        width: 70%;
        height: 20vh;
        padding: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .sobre-topic-right h4{
        width: 100%;
        height: 5vh;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
    
    .sobre-topic-right p{
        width: 100%;
        height: 15vh;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
}

@media (min-width: 1801px){
    .sobre-container{
        padding: 0 10%;
        width: 100%;
        height: 110vh;
        overflow-x: hidden;
    }
    
    .sobre-container-div{
        width: 100%;
        height: 100vh;
        gap: 10px;
    }
    
    .sobre-cards{
        width: 100%;
        height: 50dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        white-space: wrap;
        gap: 10px;
    }
    
    .sobre-card{
        height: 45vh;
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-card-top{
        width: 100%;
        height: 25vh;
        padding: 0px;
    }
    
    .sobre-card-top img{
        left: 0;
        width: 100%;
        height: 20vh;
    }
    
    .sobre-card-top h4{
        height: 5vh;
        width: 100%;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    
    .sobre-card-bottom{
        width: 100%;
        height: 20vh;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 25px 25px 0px 25px;
    }
    
    .sobre-card-bottom p{
        width: 100%;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center; 
        height: 15vh;
        text-align: justify;
    }
    
    .sobre-titles{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-titles h2{
        width: 100%;
        height: 5vh;
        font-size: 2.8rem;
    }
    
    
    .sobre-topics{
        width: 100%;
        gap: 15px;
        height: 45vh;
        justify-content: center;
        display: flex;
    }
    
    .sobre-topic{
        width: 32%;
        height: 20vh;
        border-radius: 0px;
    }
    
    .sobre-topic:hover{
        gap: 0px;
    }
    
    .sobre-topic-left{
        width: 30%;
        height: 20vh;
    }
    
    .sobre-topic-left img{
        width: 50%;
    }
    
    
    .sobre-topic-left i{
        width: 100%;
        height: 25vh;
        font-size: 40px;
    }
    
    .sobre-topic-right{
        width: 70%;
        height: 20vh;
        padding: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .sobre-topic-right h4{
        width: 100%;
        height: 5vh;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
    }
    
    .sobre-topic-right p{
        width: 100%;
        height: 15vh;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }
}