.sobre-container{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120vh;
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0%, 100% 0, 100% 97%, 0% 100%);
    border: 1px solid red;

}

.sobre-container-div{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid red;
}

.sobre-cards{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.sobre-card{
    height: 40vh;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 1cap;
    flex-direction: column;
    border: 1px solid #000;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
    transition: all .3s;
    cursor: default;
}

.sobre-card:hover{
    background-color: #fff;
    transform: scale(1.05);
}

.sobre-card:hover > .sobre-card-top i{
    color: #fff;
    background-color: #000;
}

.sobre-card:hover > .sobre-card-top h4{
    color: #000;
}

.sobre-card:hover > .sobre-card-bottom{
    color: #000;
}

.sobre-card-top{
    width: 100%;
    height: 28vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid red;
}

.sobre-card-top img{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: all .3s;
    width: 100%;
    height: 24vh;
    object-fit: cover;
}

.sobre-card-top h4{
    height: 5vh;
    border: 1px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.sobre-card-bottom{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vh;
    border: 1px solid red;
    padding: 30px;
    color: #000;
}

.sobre-card-bottom p{
    width: 100%;
    border: 1px solid red;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.sobre-titles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    flex-direction: column;
    height: 5vh;
}

.sobre-titles h2{
    width: 100%;
    text-align: center;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


.sobre-topics{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 23vh;
    border: 1px solid red;
}

.sobre-topic{
    width: 30%;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    gap: 5px;
    transition: all .3s;
    border: 1px solid red;
}

.sobre-topic:hover{
    transform: scale(1.02);
}

.sobre-topic-left{
    width: 30%;
    height: 22vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 10px 0px 0px 10px;
    transition: all .3s;
    border: 1px solid red;
}

.sobre-topic-left:hover{
    background-color: #000;
}

.sobre-topic-left:hover > i{
    color: #fff;
}

.sobre-topic-left:hover + .sobre-topic-right{
    border-color: #000;
}

.sobre-topic-left i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 40px;
    color: #000;
}

.sobre-topic-right{
    width: 70%;
    height: 22vh;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ebebeb;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    transition: all .3s;
    gap: 10px;
    border: 1px solid red;
}

.sobre-topic-right h4{
    width: 100%;
    height: 3vh;
    font-size: 1.6rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: 1px solid red;
}

.sobre-topic-right p{
    width: 100%;
    height: 12vh;
    font-size: 1.1rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border: 1px solid red;
}