@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Estilos para o pré-carregamento */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Cor de fundo do preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#logo {
    width: 150px; /* Tamanho da logo */
    animation: fadeInOut 4s ease-in-out;
}

/* Animação para aparecer e desaparecer */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header{
    background-image: url(../imagens/header-background.webp);
    background-position: center;
    background-size: cover;
    height: 105dvh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 97%);
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}



